[2017-04-06 10:40] kewde opened #1 "Component: settings"
I see the wireframe for most fundamental components are already in place. We should probably add "settings" too as a milestone for our first release.

[2017-05-22 10:48] rynomster commented on #1
See [PAR-27](https://particl.atlassian.net/projects/PAR/issues/PAR-27)

[2017-05-22 10:48] #1 closed

[2017-07-12 21:43] greenkeeper[bot] opened #32 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.11** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40types%2Fnode-8.0.11">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th

[2017-07-12 21:55] greenkeeper[bot] opened #34 "An in-range update of zone.js is breaking the build 🚨"
## Version **0.8.13** of [zone.js](https://github.com/angular/zone.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Fzone.js-0.8.13">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      zone.js
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-07-13 11:07] kewde commented on #34
@rynomster #35

[2017-07-13 11:07] #34 closed

[2017-07-14 07:39] rynomster commented on #32
fixed in #37

[2017-07-14 07:39] #32 closed

[2017-08-21 16:33] kewde opened #78 "test riot bridge"

[2017-08-21 16:33] #78 closed

[2017-09-24 03:17] greenkeeper[bot] opened #107 "An in-range update of electron is breaking the build 🚨"
## Version **1.7.8** of [electron](https://github.com/electron/electron) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Felectron-1.7.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron
    </td>
  </tr>
  <tr>
    <th align=left>
      Cu

[2017-09-26 10:26] kewde opened #109 "Create contributor-friendly issues"
I was recently contacted by a community member who suggested that we create some contributor-friendly issues. Basically, they are small tasks that do not require a lot of expertise and are easy to do.

I will be adding some over the course of the next few weeks, feel free to create your own.

[2017-09-26 10:29] kewde opened #110 "More detailed connection/network information"
Currently you can only see the amount of peers you're connected to when hovering over the connection status icon.

On click of this status icon we can show a modal which also displays the IP addresses and additional information about the nodes.

The information can be retrieved through `getpeerinfo`

[code]

[2017-09-28 13:46] dasource opened #117 "Going back and next on "mnemonic phrase confirmation" does not reset the 24 word boxes correctly"
When going back and next this generates a new mnemonic as it should however the state of the boxes is not reset and this results in fields with words that are not locked.

It should reset the state of the 24 boxes, before repopulating and then locking the relevant fields.

[2017-09-28 13:48] dasource opened #118 "Account Restore says "couldn't connect to Particl Daemon""
When restoring I get the error "couldn't connect to Particl Daemon".
There is no way to exit this screen without closing down the interface. I can clearly see the daemon is connected as the Sync Bar at the bottom is progressing.

Also when I check the daemon directly I can see that the restore did indeed complete and the account was created.

[2017-09-28 13:49] dasource opened #119 ""partgui" everywhere"
Installer, Header, Filename etc all say "partgui" vs Partical Wallet? (or Partical Electron Wallet)

[2017-09-28 13:53] dasource opened #120 "Receive Page - QR code size (huge) when no address/wallet"
If there is no wallet the page should show up as such and ask the user to create a new/restore wallet.
This should apply to Send, History and Address Book page also.

[2017-09-28 13:57] dasource opened #121 "Encrypt Wallet error"
After entering the password twice to encrypt the wallet you get a "couldn't connect to Particl Daemon"
Not very user intuitive - User should be told or the App should auto restart?

[2017-09-28 13:58] dasource opened #122 ""couldn't connect to Particl Daemon""
Rather than displaying this error on a full screen modal page which sometimes results in having to shutdown the app (the x does not always display top right) we should have a small popup widget (like bittrex order filled ones) which shows when the device has lost connection to the daemon (and it should always remain there whilst the connection is lost) - should check every X/secs to see if the con

[2017-09-28 14:04] dasource opened #123 "Amount Field Decimal Placing"
On both Send Payment and Balance Transfer Page you have the amount field which shows default as "0.000000000000000" - Particl is divisible by 8 not 16.

[2017-09-28 14:06] dasource opened #124 "Receive - Private Tab"
What are private addresses? it seems to show an address starting with SPG (looks like stealth) and the New Private Address modal does nothing.

[2017-09-28 14:07] dasource opened #125 "Receive > Stealth Addresses?"
Does not seem to give the option to create stealth addresses?

[2017-09-28 14:10] kewde commented on #125
You have to click on the 'private' tab.

[2017-09-28 14:12] kewde commented on #124
Works fine for me here..
I'm using the current master

[2017-09-28 14:14] dasource commented on #125
Hmm, it was not working.. but after restarting it is .. weird. I will keep an eye on it.

[2017-09-28 14:14] #125 closed

[2017-09-28 14:15] dasource commented on #124
Ahh I though it was dummy text since the "new modal" was not working. After restarting it is now and makes more sense. Closing.

[2017-09-28 14:15] #124 closed

[2017-09-28 14:16] kewde commented on #124
@dasource
What SPG address? This may just be the cold staking address you've entered.
Already parsing those out in the coldstaking PR

[2017-09-28 14:18] kewde commented on #122
The whole GUI is kinda useless in the state, it should never lose the connection to the RPC (it's local). If it is in that state then it seems wiser to just disable access.

[2017-09-28 14:19] kewde commented on #121
encryptwallet indeed shuts down the wallet, that needs fixing or atleast a warning message

[2017-09-28 14:22] dasource commented on #122
I clearly seems to be happening and due to the way it is being handled it leaves the user no choice but to shutdown the app. It makes no sense to have a smaller popup which check periodically and if it is lost (grays interface) and restored (the interface becomes usable again).

in 10mins, I have seen the error 3-4 times and the daemon is responding fine in the background.

[2017-09-29 10:10] kewde commented on #120
We'll make it generate an address on wallet creation

[2017-09-29 10:11] dasource commented on #120
Still need to address the "no wallet" condition.

[2017-09-29 11:27] HenkSwardt commented on #117
Kirti is looking into this for us

[2017-09-29 11:27] HenkSwardt commented on #119
Kirti is looking into this for us

[2017-09-29 11:28] HenkSwardt commented on #118
Vikas is looking into this for us

[2017-09-29 11:28] HenkSwardt commented on #120
Vikas is looking into this for us

[2017-09-29 11:28] HenkSwardt commented on #122
Vikas is looking into this for us

[2017-09-29 11:29] HenkSwardt commented on #123
Vikas is looking into this for us

[2017-09-29 11:45] anandsinghparihar commented on #119
I am going to change everywhere partgui to >>> Partical Wallet

[2017-09-29 11:59] anandsinghparihar commented on #119
Install means a package manager file,
Heder means title of page
I do not understand what is FileName, I can see only a repository  name is `partgui` ;)

[2017-09-29 12:28] HenkSwardt commented on #119
Kirti, Please make sure it is Particl Electron Wallet

[2017-09-29 12:45] rynomster commented on #119
It should be Particl Wallet

[2017-09-29 12:46] HenkSwardt commented on #119
Sorry for confusion, Please can we make it "Particl Wallet" as discussed.

[2017-09-29 12:57] HenkSwardt commented on #121
Vikas is looking at this issue

[2017-09-29 13:47] vikas-cis commented on #123
Please have a look

https://github.com/particl/partgui/pull/130

Thanks

[2017-09-29 16:57] anandsinghparihar commented on #119
Done Please check : [https://github.com/particl/partgui/pull/129 ](url)

[2017-09-30 08:34] HenkSwardt commented on #123
Merged: https://github.com/particl/partgui/pull/130

[2017-09-30 08:41] rynomster commented on #121
This one is quite complex.. we need to restart the daemon somehow after encryption.
It involves modules/rpc and modules/clientBinary
You'll need to restart the daemon, same way as its started at startup.

[2017-09-30 08:41] rynomster commented on #119
#129 closes this

[2017-09-30 08:41] #119 closed

[2017-09-30 08:42] rynomster commented on #118
Fixed on master. It was related to a rpc timeout, only affects slow PCs

[2017-09-30 08:42] #118 closed

[2017-09-30 08:43] rynomster commented on #117
#128 fixes this

[2017-09-30 08:43] #117 closed

[2017-09-30 08:44] rynomster commented on #122
We added the X. Enable close was being disabled in the wallet creation process. The error modal was showing up due to an RPC timeout on slow machines.

[2017-09-30 08:44] #122 closed

[2017-09-30 12:20] kewde opened #131 "Syncing modal doesn't always show"
The syncing modal doesn't always show up, when the client gets stuck on block X then it should open the syncing modal.

[2017-09-30 20:55] imybb opened #133 "encrypting wallet error"
WINDOWS - when encrypting wallet for first time, there is an error, screen shots attached
![encrypting_wallet_1](https://user-images.githubusercontent.com/30150617/31049397-0cac1622-a62a-11e7-9f23-6a6e8725a0e7.png)
![encrypting_wallet_2](https://user-images.githubusercontent.com/30150617/31049398-0cc78c90-a62a-11e7-8a6e-c9e3bc9e848f.png)

[2017-09-30 21:03] rynomster commented on #133
duplicate of #121

[2017-09-30 21:03] #133 closed

[2017-09-30 21:04] rynomster commented on #131
it will show up if they haven't closed it before.. they don't want it to constantly pop up.

[2017-09-30 21:04] #131 closed

[2017-10-01 08:44] #109 closed

[2017-10-01 08:45] rynomster opened #134 "Add staking icon"
We should add a staking icon to the status component, that shows whether or not you are staking.

We should also show an estimate as to how long until you will stake, as well as your staking weight and the network staking weight.

[2017-10-01 09:50] kewde commented on #121
The backend can detect the walletpassphrase command passing through IPC and execute a reboot of the daemon after encryption.

[2017-10-01 10:28] rynomster commented on #121
Yes that's what I suggested, but there is a whole startup sequence for the
daemon. We want to introduce a daemon management screen, that can stop,
start and change parameters for the daemon.

[2017-10-01 10:29] kewde commented on #121
I don't think the daemon management screen is a good idea if it's going to pass parameters straight into the command line.

[2017-10-01 13:48] imybb opened #135 "Private balance not displaying on balance transfer window"
![particl_private_balance_missing](https://user-images.githubusercontent.com/30150617/31055158-82d834ba-a6b7-11e7-8214-01164a01c173.png)

[2017-10-01 13:49] imybb opened #136 "Incorrect wallet naming in various locations"
![particl_install](https://user-images.githubusercontent.com/30150617/31055173-a5c9bdae-a6b7-11e7-8194-10b01c0f96ed.png)
![particl_start_menu](https://user-images.githubusercontent.com/30150617/31055174-a5ca4dd2-a6b7-11e7-8539-5d5eca816c94.png)
![particl_control_panel_uninstall_window](https://user-images.githubusercontent.com/30150617/31055175-a5ca728a-a6b7-11e7-8fea-7c7e3f1ad539.png)
![particl_g

[2017-10-01 13:51] rynomster commented on #136
That can't be changed. Electron builder takes a single name, no spaces. We
can call it ParticlWallet, particl-wallet, or something similar, but not
Particl Wallet.. particl is next best

[2017-10-01 13:52] imybb commented on #136
I see, should we call it Particl rather than particl?

[2017-10-01 13:57] imybb opened #137 "Total received, should it return a value?"
![particl_gui_total_received](https://user-images.githubusercontent.com/30150617/31055313-d448c8d6-a6b8-11e7-831d-63e64776a0d6.png)

[2017-10-01 17:18] kapsr opened #138 "negative part amount (balance transfer)"
![5](https://user-images.githubusercontent.com/32437236/31057093-2799bfe4-a6dd-11e7-98ed-173dfd493c96.jpg)

This should be avoided, no reason to validate a negative balance transfer. Current error message is not user friendly either

[2017-10-01 17:24] kapsr opened #139 "Radio buttons (tab: balance transfer) between from/to account not properly configured"
There are a couple inconsistencies here.

1: 'From'- and 'To' account are default set to 'Public' when opening this tab.
However, after switching 'To' account from 'Public' to 'Blind', 'Public' is not selectable anymore (when trying to switch back). Why were these radio buttons set to public / public by default when opening this tab in the first place? There is a workaround however: Set 'From' to

[2017-10-01 17:28] kapsr opened #140 "Icons need mouseover (UX suggestion)"
![7](https://user-images.githubusercontent.com/32437236/31057184-b42c6866-a6de-11e7-9178-fccde5368480.jpg)
![8](https://user-images.githubusercontent.com/32437236/31057185-b5fd782e-a6de-11e7-97e1-e8bbaa950ddd.jpg)

[2017-10-01 17:36] kapsr opened #141 "Advanced options need 'advanced' indicator (UX suggestion)"
![advanced1](https://user-images.githubusercontent.com/32437236/31057236-ca83ed9a-a6df-11e7-885f-d01f0d1387a8.jpg)
![9](https://user-images.githubusercontent.com/32437236/31057237-cbee6a20-a6df-11e7-92e9-3ae7f187ea31.jpg)

[2017-10-01 17:41] kapsr opened #142 "Close symbol upper right corner is very small/faint (UX suggestion)"
![untitled-6](https://user-images.githubusercontent.com/32437236/31057284-8521ef62-a6e0-11e7-8a12-70b53fde2631.jpg)

[2017-10-01 17:56] kapsr opened #143 "Menu unpinning: UX improvement"
1. To me as a user, this feels weird. Either de-pin and collapse both frames at the same time when mouse is still on the pin icon, or preferably collapse both at the same time when mouse leaves the pin icon. Currently, the info displayed on the right frame becomes partly hidden behind the left frame (menu) when mouse is still on menu. It stays partly hidden when the menu is exposed again. i think

[2017-10-01 21:50] kapsr opened #144 "Privacy bar not clickable (UX suggestion)"
1. When i saw the privacy bar with the normal/medium/high indication i tried to click the bar multiple times to try and switch between the different levels. Only later i found that clicking the text itself changed the privacy level. To prevent confusion, either place the normal/medium/high text above the bar or make the bar clickable alongside the text.

2. It would be helpful to have a short expl

[2017-10-01 21:58] kapsr opened #145 "Radio buttons 'From account' (between Send payment-/Balance transfer tabs) appear to be dependent/buggy"
Go to Send, From account is set to Public by default (no privacy bar visible)
Now go to tab Balance transfer and select From account: Private (privacy bar becomes visible)
So far so good...

Navigate back to tab send payment: The privacy bar is now visible here while no radio button is selected (remember: default was public before and no privacy bar was visible).

I think you want to make these tw

[2017-10-01 23:13] kapsr opened #146 "Single nor double clicking the part icon in system tray (Windows 10) will move/reveal the Part Gui in front of other windows"
All other apps i run on my computer which are displayed in system tray will actually move forward/show up after clicking once or twice, except the Part GUI. With system tray i refer to the right menu (where you find power management, sound, language bar et cetera).

[2017-10-02 08:19] kewde commented on #137
Might be be removed, it has to do a call for every address, it becomes very API intensive.
There might be some ways to reduce the load tho.

[2017-10-02 08:23] kewde commented on #139
The UX was setten up such that you wouldn't be able to select two of the same kind.
This was working perfectly a few weeks ago, I'll look into what's happened.

[2017-10-02 08:25] kewde commented on #143
Keeps titles short and sweet please.

[2017-10-02 08:28] rynomster commented on #143
This will be fixed on the material branch, once we switch over.

[2017-10-02 08:29] rynomster commented on #142
Are you running UHD?

[2017-10-02 09:13] HenkSwardt commented on #136
Yes, I also think capitalize "Particl".

[2017-10-02 09:17] rynomster commented on #136
We can have a look at how we can change the build script to name it correctly

[2017-10-02 12:01] kapsr commented on #142
correct, though everything else seems to scale well.

[2017-10-02 20:28] rynomster commented on #121
We wouldn't pass parameters to the command line no.. it would reuse the current daemon startup code.

[2017-10-05 12:46] vikas-cis commented on #120
fixed #148

[2017-10-05 13:32] vikas-cis commented on #135
fix #148

[2017-10-06 11:28] vikas-cis commented on #138
fix #148

[2017-10-06 12:49] vikas-cis commented on #139
I have fix the issue #148 , I have configured the radio input so user cannot able to check the same from and too, Please have a look and let me know
Thanks

[2017-10-06 13:49] vikas-cis commented on #145
fix #148 please check and let me know

[2017-10-06 16:18] vikas-cis commented on #136
Fix #148 I have changed particl to Particl , Let me know if that looks good :)

[2017-10-07 09:12] vikas-cis commented on #136
Valid Fix at discuss with Ryno here Fix #149

[2017-10-07 13:06] vikas-cis commented on #146
Fix #149 please check and let me know

[2017-10-07 16:05] vikas-cis commented on #137
Fix #149  I have removed the html that shows Total received with plus 0 , Please let me know if there is plan to call api or something to show value in place of zero.

[2017-10-08 12:58] SativaL opened #150 ".deb installer doesnt create Desktop Shortcut or start menu entry"
after installing the ".deb" installer doesnt create Desktop Shortcut or start menu entry on

NAME="Linux Mint"
VERSION="18.2 (Sonya)"

[2017-10-08 13:14] SativaL opened #151 "QR code doesnt resize automatically (receive tab)"
https://media.giphy.com/media/3ov9k4XXBEfHvmLMB2/giphy.gif

shouldnt it be resizing automatically ? this way it looks bugged.

[2017-10-08 13:17] rynomster commented on #151
Duplicate of #120, fixed in #148

[2017-10-08 13:17] #151 closed

[2017-10-09 12:29] vikas-cis commented on #141
Fix #149 I have hide the advanced option in send transfer tab.Secondly for indicating advanced option refers to pay to option, I have changed the text as discuss with Henk :)
Please check and provide me your suggestions.
Thanks

[2017-10-09 12:44] HenkSwardt commented on #134
This will be done on the Material Branch. We will move the Staking Widget Branch to the Material branch and add the Icon on that development.

[2017-10-09 12:45] HenkSwardt commented on #121
Please confirm that this has been resolved?

[2017-10-09 13:15] rynomster commented on #121
It seems now we have an issue where the unlock doesn't work properly, or the state doesn't work properly when you restart the daemon.

[2017-10-10 09:02] HenkSwardt commented on #146
Issue has been resolved, this can be closed.

[2017-10-10 09:03] HenkSwardt commented on #145
Issue has been resolved, this can be closed.

[2017-10-10 09:05] HenkSwardt commented on #141
Issue has been resolved, this can be closed.

[2017-10-10 09:07] HenkSwardt commented on #139
Issue has been resolved, this can be closed.

[2017-10-10 09:08] HenkSwardt commented on #138
Issue has been resolved, this can be closed.

[2017-10-10 09:08] HenkSwardt commented on #137
Issue has been resolved, this can be closed.

[2017-10-10 09:09] HenkSwardt commented on #136
Issue has been resolved, this can be closed.

[2017-10-10 09:09] HenkSwardt commented on #135
Issue has been resolved, this can be closed.

[2017-10-11 10:04] HenkSwardt opened #154 "Material GUI bugs."
Working through the Material GUI, a number of issues has been picked up that needs attention, Please have a look at the points below.

**Send Page:**

1. Making a payment is not possible, nothing happens after selecting the make payment button
2. Pay To field, Paste button: Tootltip says copy, should be paste
3. Pay To field, Paste button: Icon suggests copy action, change to paste icon

**History

[2017-10-12 07:12] FrancoisOdendaal opened #156 "Unlock Password off centre"
The wallet unlock interface is not center alligned when it is reached from the Restore Wallet and Create Wallet action:

![image](https://user-images.githubusercontent.com/32632469/31483617-688defe0-af2d-11e7-8c00-d3c22ccf1a9f.png)

[2017-10-12 07:29] rynomster commented on #156
This is on the develop branch

[2017-10-12 07:57] FrancoisOdendaal opened #157 "Back and Next Step buttons off Centre"
On the first step of the Create New Wallet and Restore Wallet actions, the "Back" and "Next Step" buttons are not middle aligned. On subsequent steps the buttons are however appropriately aligned

![image](https://user-images.githubusercontent.com/32632469/31485299-ad2e2682-af33-11e7-9750-8efb0bafbfef.png)

[2017-10-12 07:57] FrancoisOdendaal commented on #157
This is on the develop branch

[2017-10-12 08:00] FrancoisOdendaal opened #158 ""Nexr" buttons typo"
The "Next Step" buttons on all the following interfaces are misspelled as "Nexr Step":

Create new Wallet, step 2 onward (not an issue on the first step)
Restore Wallet, step 2 onward (not an issue on the first step)

![image](https://user-images.githubusercontent.com/32632469/31485449-2570ab7e-af34-11e7-9a67-c80ce7356748.png)

[2017-10-12 08:00] FrancoisOdendaal commented on #158
This is on the develop branch

[2017-10-12 09:57] #138 closed

[2017-10-12 10:36] kewde commented on #158
fixed in commit 824c489699ed1c9f24116947917ddbb425507577

[2017-10-12 10:36] #158 closed

[2017-10-12 10:36] #145 closed

[2017-10-12 10:37] #146 closed

[2017-10-12 10:38] #107 closed

[2017-10-12 13:42] rynomster commented on #142
This is fixed in the [develop branch](/particl/partgui/tree/develop)

[2017-10-12 13:50] #142 closed

[2017-10-12 13:50] #135 closed

[2017-10-13 10:25] anandsinghparihar commented on #154
Please consider Send page task has done :)

[2017-10-16 11:54] HenkSwardt commented on #140
This issue has been resolved in https://github.com/particl/partgui/pull/155

[2017-10-18 15:59] greenkeeper[bot] opened #165 "An in-range update of rxjs is breaking the build 🚨"
## Version **5.5.0** of [rxjs](https://github.com/ReactiveX/RxJS) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Frxjs-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rxjs
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-10-18 20:50] greenkeeper[bot] opened #166 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.45** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40types%2Fnode-8.0.45">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th

[2017-10-18 21:18] greenkeeper[bot] opened #167 "An in-range update of @angular/cli is breaking the build 🚨"
## Version **1.4.8** of [@angular/cli](https://github.com/angular/angular-cli) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fcli-1.4.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/cli
    </td>
  </tr>
  <tr>
    <th al

[2017-10-19 02:03] greenkeeper[bot] opened #168 "An in-range update of @angular/animations is breaking the build 🚨"
## Version **4.4.6** of [@angular/animations](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fanimations-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/animations
    </td>
  </tr>

[2017-10-19 02:09] greenkeeper[bot] opened #169 "An in-range update of @angular/common is breaking the build 🚨"
## Version **4.4.6** of [@angular/common](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fcommon-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/common
    </td>
  </tr>
  <tr>
    <

[2017-10-19 02:15] greenkeeper[bot] opened #170 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.4.6** of [@angular/compiler](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fcompiler-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </tr>
  <tr>

[2017-10-19 02:19] greenkeeper[bot] opened #171 "An in-range update of @angular/compiler-cli is breaking the build 🚨"
## Version **4.4.6** of [@angular/compiler-cli](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fcompiler-cli-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler-cli
    </td>

[2017-10-19 02:23] greenkeeper[bot] opened #172 "An in-range update of @angular/core is breaking the build 🚨"
## Version **4.4.6** of [@angular/core](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fcore-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>
    <th ali

[2017-10-19 02:25] greenkeeper[bot] opened #173 "An in-range update of @angular/forms is breaking the build 🚨"
## Version **4.4.6** of [@angular/forms](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fforms-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/forms
    </td>
  </tr>
  <tr>
    <th

[2017-10-19 02:28] greenkeeper[bot] opened #174 "An in-range update of @angular/http is breaking the build 🚨"
## Version **4.4.6** of [@angular/http](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fhttp-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/http
    </td>
  </tr>
  <tr>
    <th ali

[2017-10-19 02:31] greenkeeper[bot] opened #175 "An in-range update of @angular/platform-browser is breaking the build 🚨"
## Version **4.4.6** of [@angular/platform-browser](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fplatform-browser-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/platform-browser

[2017-10-19 02:32] greenkeeper[bot] opened #176 "An in-range update of @angular/platform-browser-dynamic is breaking the build 🚨"
## Version **4.4.6** of [@angular/platform-browser-dynamic](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fplatform-browser-dynamic-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/p

[2017-10-19 02:34] greenkeeper[bot] opened #177 "An in-range update of @angular/router is breaking the build 🚨"
## Version **4.4.6** of [@angular/router](https://github.com/angular/angular) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Frouter-4.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/router
    </td>
  </tr>
  <tr>
    <

[2017-10-24 12:19] allienworks opened #192 "Wrong "TX Net Amount" counting"
![](https://i.imgur.com/lvpYz3x.png)

- Sent: 10 PART
- Fee: 0.000358 PART
- Net: 10.000358 PART

Probably some mix-up with the `+/-`

Fee shouldn't be probably displayed with `-` as it might be confusing. Everybody understands that fee is "negative" payment IMO.

**Edit:** In received payments, Net Amount behaves as expected.

[2017-10-25 01:54] greenkeeper[bot] opened #197 "An in-range update of @types/jasmine is breaking the build 🚨"
## Version **2.6.1** of [@types/jasmine](https://www.npmjs.com/package/@types/jasmine) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40types%2Fjasmine-2.6.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jasmine
    </td>
  </tr>
  <tr

[2017-10-25 07:57] greenkeeper[bot] opened #198 "An in-range update of electron-builder is breaking the build 🚨"
## Version **19.41.0** of [electron-builder](https://github.com/electron-userland/electron-builder) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Felectron-builder-19.41.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron-builder
    </td

[2017-10-25 08:38] #165 closed

[2017-10-25 08:38] #166 closed

[2017-10-25 08:38] #167 closed

[2017-10-25 08:38] #168 closed

[2017-10-25 08:38] #169 closed

[2017-10-25 08:38] #170 closed

[2017-10-25 08:38] #171 closed

[2017-10-25 08:38] #172 closed

[2017-10-25 08:38] #173 closed

[2017-10-25 08:38] #174 closed

[2017-10-25 08:38] #175 closed

[2017-10-25 08:38] #176 closed

[2017-10-25 08:38] #177 closed

[2017-10-25 08:58] rynomster commented on #198
fixed in #201

[2017-10-25 08:58] #198 closed

[2017-10-25 08:58] rynomster commented on #197
fixd in #200

[2017-10-25 08:58] #197 closed

[2017-10-25 09:33] HenkSwardt commented on #143
This issue is being addressed in https://github.com/particl/partgui/pull/189 (https://particl.atlassian.net/browse/PAR-234)

[2017-10-25 11:51] #157 closed

[2017-10-28 20:58] kapsr commented on #140
![mouseover](https://user-images.githubusercontent.com/32437236/32138458-6062e6b4-bc33-11e7-9dc6-53733d56dcfa.jpg)
In the latest build, mouseover is working for all icons. Except for the above icon (Its also not green anymore compared to the default green color before)

[2017-10-28 21:01] kapsr opened #210 "Resize issue"
Couple of resize issues in the latest build, see screenshots:

![resize1](https://user-images.githubusercontent.com/32437236/32138486-dfd96eb8-bc33-11e7-866e-8c67cf502413.jpg)
![resize2](https://user-images.githubusercontent.com/32437236/32138490-e2972c1c-bc33-11e7-96a1-569709cf12bb.png)
![resize3](https://user-images.githubusercontent.com/32437236/32138491-e51a25ca-bc33-11e7-94fc-b475ff5ab91d.png

[2017-10-28 21:04] kapsr opened #211 ""Add Acount" typo and coloring bug"
1. Clicking and closing "Add acount" will display an orange colored box around add acount.
2. Change into "Add Account"

![orangeaddaccount](https://user-images.githubusercontent.com/32437236/32138522-4acd88d0-bc34-11e7-8729-750d086f88b5.jpg)

[2017-10-28 21:08] kapsr opened #212 "Navigation indicator (coloring in menu icons) missing in latest build"
Latest build on the Left: Missing coloring compared to earlier testnet release (right)

![menuindicatordissapeared](https://user-images.githubusercontent.com/32437236/32138556-c832b0c0-bc34-11e7-8e91-82c583f817d1.jpg)

[2017-10-28 21:14] kapsr opened #213 "Staking widget displays staking info despite staking being de-activated"
I don't think this info should be visible/displayed when user is not staking. Maybe display a default "No coins are being staked at the moment" or something like this.

![stakeweightnextrewarddisplayedwithoutstake](https://user-images.githubusercontent.com/32437236/32138574-1b76145c-bc35-11e7-8e56-7d58f72ea1c8.jpg)

[2017-10-28 21:20] kapsr opened #214 ""estimated time left until synced" is not being calculated correctly"
1. I don't think you would want to display "estimated time left until synced" if its not calculated correctly. Currently, its always off. Don't display or make correct estimate.

2. When initial screen is clicked away, there is no visible indication anymore what syncing status is. I've seen an indication in the menu in earlier wireframes, however, not implemented yet.

![estimatedtimesync](https:/

[2017-10-28 21:29] kapsr opened #215 "Several UX issues on the Send payment/transfer balance pages"
1: Spacing is far to wide, makes page less 'readable' from a UX point of view. Earlier official testnet build was much better designed. (Same problem on Send Payment page)

2: From Account / TO ACCOUNT: non capital and CAPITAL: Be consistent.

3: I think there should be an indication somewhere in the text that this "note" is optional and not mandatory.

4: Background color of button "SHOW RECIPIEN

[2017-10-28 21:32] kapsr commented on #144
In the latest build, text is placed above the bar indicator. I like this change. However, its still not entirely clear to the user that low, medium and high are clickable options. I would suggest to use radio buttons for an easy fix (and consistency).

[2017-10-29 02:38] kapsr commented on #214
3. Also: The layout of this screen is off compared to the official testnet build.

[2017-10-29 17:36] allienworks opened #216 "Failed TXs not announced"
When trying to send TX with higher amount than you have, a small modal of "are you sure you want to send X to Y?" gets fired, but after confirming it, nothing happenes. Someone might interpret it as TX being sent, but it doesn't. Some modal about "you don't have sufficient PARTs for this TX" will help.

[2017-10-30 07:30] HenkSwardt commented on #140
Good day @kapsr

Thank you for the feedback, The above is a known issue that we are looking into.

Regards

[2017-10-30 13:48] HenkSwardt commented on #216
Logged task and assigned to Kirti

https://particl.atlassian.net/browse/PAR-244

[2017-11-01 11:54] allienworks commented on #211
Fixed, soon to be merged.

[2017-11-01 15:21] allienworks commented on #210
Fixed.

[2017-11-01 15:21] #210 closed

[2017-11-01 15:21] allienworks commented on #156
Fixed.

[2017-11-01 15:21] #156 closed

[2017-11-01 15:22] allienworks commented on #215
Fixed.

[2017-11-01 15:22] #215 closed

[2017-11-01 15:23] allienworks commented on #213
Fixed.

[2017-11-01 15:23] #213 closed

[2017-11-03 12:30] HenkSwardt commented on #212
This has been resolved.

[2017-11-03 12:41] HenkSwardt commented on #154
All issues have been resolved

[2017-11-03 19:56] #192 closed

[2017-11-03 19:58] #214 closed

[2017-11-03 19:59] kewde commented on #216
Status? @anandsinghparihar

[2017-11-04 20:09] kapsr commented on #146
This issue has re-appeared in latest build.

[2017-11-04 20:12] kapsr opened #258 "Issue #146 (closed) has re-appeared in latest dev branch."

[2017-11-04 20:16] kapsr opened #259 "Cosmetic Issues"
- [x] Stealth address in readable words, alignment issue
- [x] Stealth address hidden behind buttons
- [x] Address lookup - overflow of type
- [x] Other address lookup - overflow of stealth addresses
- [x] Alignment advanced options in receive tab

### Stealth address issues

1: Alignment
2: Can't manually copy full address by selecting it, cut off from screen. Only with copy button. I think addre

[2017-11-04 20:57] kapsr commented on #144
this can be closed, bold text in latest build does the job.

[2017-11-04 23:43] #144 closed

[2017-11-04 23:47] #141 closed

[2017-11-04 23:48] #139 closed

[2017-11-04 23:59] #211 closed

[2017-11-04 23:59] #212 closed

[2017-11-05 00:39] #154 closed

[2017-11-05 01:45] kewde commented on #258
#146

What build did you test?

[2017-11-05 01:47] kewde commented on #259
Would be easier to keep track of if these were separate issues

[2017-11-05 03:09] kapsr commented on #259
Sorry, i thought i could merge these mere 'minor' issues. Will create separate issues on further tests, if i am able to find more.

[2017-11-05 03:42] kewde commented on #259
Thanks for the testing tho, really appreciate it.
I'm making some changes to your initial post.

[2017-11-05 03:47] kewde commented on #259
Also, why is your particl logo missing from the UI?

[2017-11-05 04:10] kapsr commented on #259
looks good. There is no logo apparently anymore when compiling dev. branch.

[2017-11-05 14:48] kewde commented on #259
@kapsr works fine here..

Are you compiling to binaries or running with `npm run start:electron`?

[2017-11-05 18:35] kapsr commented on #259
@kewde npm run start:electron

[2017-11-06 13:40] vikas-cis commented on #258
#263
Thanks

[2017-11-06 21:06] allienworks commented on #259
**1) Stealth address in readable words, alignment issue**
- yes, this could be done better, we'll come up with something

**2) Stealth address hidden behind buttons**
- they are too long for the space obviously; they are snipped, but if you double-click the address and copy it, you will have the whole addy in your clipboard.
- you can also select the address via button and copy it manually from th

[2017-11-06 23:00] #259 closed

[2017-11-06 23:01] #120 closed

[2017-11-06 23:01] #134 closed

[2017-11-06 23:01] #137 closed

[2017-11-06 23:02] #121 closed

[2017-11-06 23:02] #140 closed

[2017-11-06 23:02] #136 closed

[2017-11-06 23:04] #143 closed

[2017-11-07 21:13] #258 closed

[2017-11-07 23:55] bb2k16 opened #271 "locked wallet creat new private address"
its not possible to create private address when wallet is locked.

suggestion: when wallet locked, set "new private address" to grey out.

[2017-11-08 02:29] kapsr opened #272 "Receive: Empty label (+barcode) displayed before GUI retrieves addresses"
I may be a bit neurotic when it comes to these type of things. As shown below, before my addresses are retrieved after going to the Receive page, an empty label + barcode is displayed (for like 0.2 seconds). The barcode is bigger than my actual retrieved barcode, making the transition annoying.

![flickrreceive](https://user-images.githubusercontent.com/32437236/32528657-8f5fbeca-c434-11e7-901f-33

[2017-11-08 03:31] #272 closed

[2017-11-08 03:33] kewde commented on #271
Are you on the (latest) develop branch?

[2017-11-08 03:38] kewde commented on #271
I just tested the develop branch, works fine here.

[2017-11-08 03:46] kapsr opened #275 "Overview page: Scaling issue is back"
A few days ago this was all good but now there appears to be some scaling issue still:

![c367dd2e309d70fa533e4d51b611e071](https://user-images.githubusercontent.com/32437236/32530666-b7c1c54c-c43f-11e7-9c50-84463550a9a3.jpg)

[2017-11-08 06:33] #271 closed

[2017-11-08 12:33] allienworks commented on #275
Fixed, changes will be pushed later today.

[2017-11-08 12:33] #275 closed

[2017-11-08 12:35] anandsinghparihar commented on #216
No bug found ... its already working fine !!

[2017-11-08 12:40] allienworks commented on #216
It's still there - https://imgur.com/a/yekJE
If you select all coins and try to send them the TX will fail (because you don't have anymore coins for TX fee), but nothing happens.

[2017-11-08 12:44] allienworks commented on #216
OK, so apparently https://github.com/particl/partgui/pull/268/commits/840d3a4aa1ebc853fdd867d928e0dfe234c2c50f fixes this.

[2017-11-08 12:45] dasource commented on #216
If you select "sendall" then the RPC command should set `subtractfeefromamount` as true.
This will then subtract the fee from the full amount.

[2017-11-08 12:47] allienworks commented on #216
@dasource that might be true, but we don't have any "Send all" button in the GUI yet. Adding that to our TODO.

[2017-11-08 20:14] kapsr opened #281 "Particl icon background not transparent anymore"
![13834eded5331824d7c3b8d13bae3706](https://user-images.githubusercontent.com/32437236/32572077-cc472e6e-c4c9-11e7-9a92-f1f242fc9be4.png)
![c68e7b8d10608a53626655f225b6594e](https://user-images.githubusercontent.com/32437236/32572082-ce0e001a-c4c9-11e7-8439-cd472822653d.png)
![t](https://user-images.githubusercontent.com/32437236/32572220-3a5c76f2-c4ca-11e7-842f-34012f52d75a.png)

Also: Main logo

[2017-11-09 00:09] kewde commented on #281
#270

[2017-11-09 00:11] #281 closed

[2017-11-09 05:25] bb2k16 opened #292 "Small Cosmetic Issues"
this happens when tx is expanded

![image](https://user-images.githubusercontent.com/22429074/32589759-44c2ec72-c50e-11e7-80e4-02da9e137f63.png)

[2017-11-09 06:11] kapsr opened #293 "address book: change button "Save address" into "Add new address""
This seems more logical to user

[2017-11-09 21:07] kapsr opened #305 "uncaught exception : object has been destroyed"
I now sometimes get this error when closing the GUI:

![5303d58a4d73e6d42308562f8abca10f](https://user-images.githubusercontent.com/32437236/32629691-54bcb360-c59a-11e7-8444-d6fc865bac7d.png)

[2017-11-10 00:05] allienworks commented on #292
Fixed and waiting to be merged: https://github.com/particl/partgui/pull/307

[2017-11-10 00:32] #292 closed

[2017-11-10 03:25] kapsr opened #313 "after update, -reindex flag not working automatically"
blockchain is not stored.

[2017-11-10 03:31] kapsr opened #314 "modal loading - broken layout"
After initial "quote" screen appearance, a new screen appears for a few milliseconds/seconds before the blockchain starts syncing. Layout is off, get rid of screen completely as quote was displayed already in prior screen (or fix layout).

![untitled-1](https://user-images.githubusercontent.com/32437236/32641752-fb96db72-c5cf-11e7-82a1-1d8c79fe06a6.jpg)

[2017-11-10 06:43] rynomster commented on #313
Blockchain is stored. If you disconnect your network you'll see it still
syncs.
It seems like an indexing issue one some machines. We'll have to do a bit
more work on it, just to make sure the daemon is ending gracefully on
windows.

[2017-11-10 09:05] SativaL commented on #305
for me i got the same error in the final release.

Linux mint 18.2

[2017-11-10 12:05] Diti opened #316 "Double-click on window title doesn't go fullscreen"
On Windows 10 and macOS, double-clicking on a window title should make the window go fullscreen.
The new Particl wallet doesn't have this behavior.

[2017-11-10 13:32] kewde commented on #316
Resizing not allowed for the moment.

[2017-11-10 14:23] anandsinghparihar opened #317 "Hide pagination if nothing loaded"
- Hide pagination on **History page** if no data found.
- Hide pagination on **Address Book** if no data found.
- Hide pagination on **Receive page** if no data found.

[2017-11-10 14:40] Diti opened #318 "Wallet creation fails with mnemonic-related errors"
Seen on a classmate’s MacBook Pro:

1. Create a new wallet and save its seed;
2. On next step (verification), input seed words correctly (AFAIK—I double-checked);
3. Click next (several times, several error messages).

The error messages are:
* `MnemonicDecode failed: No. of words must be divisible by 3.`
* `MnemonicDecode failed: Checksum mismatch.`
* `ExtKeyImportLoose failed, Derived key alread

[2017-11-10 15:04] Diti commented on #318
I haven’t read the code, but the nature of the first two errors (the `MnemonicDecode` ones) makes me believe that this screen concatenates each field to get the final passphrase, and seems in this case to only concatenate the *values* of the fields, and **not** the *placeholders* (the pre-filled values in the screenshot above).

[2017-11-10 16:04] SativaL opened #320 "Force to create new address if clicking receive(public) for the first time"
https://giphy.com/gifs/3ohs7WrhJ9Z4P0ocTu/fullscreen

if you come from the enter page to the "Receive" tab for the first time, sadly the wallet doesnt ask you to create a first public address, only if you click private (then it ask you for private) and then if you go back to public it will ask you :)

[2017-11-10 16:07] SativaL opened #321 "reverse receive and send arrows"
i think it is better to have the send arrow heading towards the right side and the receive arrow heading towards the left side.

Personally i would also put the "Send" tab first and after that the "Receive" tab, thats just "standard" most likely i guess, which we can also see in QT clients all over the place.

[2017-11-10 16:56] allienworks commented on #320
This issue should be fixed already.

- What OS are you running? Linux x64?
- Did you create a new wallet or restored an existing one?
- Do you use `particl.conf`?

[2017-11-10 17:01] kewde commented on #320
Did you import the wallet with the GUI wallet or through Qt?

[2017-11-10 17:03] kewde commented on #318
Means it actually went through eventually, which is quite odd.

I'll test this again, but I've been creating new wallets the past few days and I didn't get these errors, so there is some inconsistency there

[2017-11-10 18:11] LoneWolf367 opened #323 "osx menu should have a fixed width"
The menu bar icon needs to be scaled down. Currently it's about 1/4 the width of my entire menu bar.

OS X Version: 10.12.6
Particl Wallet: v1.0.0

![screen shot 2017-11-10 at 10 03 04 am](https://user-images.githubusercontent.com/171644/32672051-92c5f40a-c5fe-11e7-84f4-804aa22c3719.png)

[2017-11-10 18:30] SativaL commented on #320
qt, guess its then fixed like you said with again importing mnemonic

[2017-11-10 19:14] LiteBit opened #324 "Overview Screen: Staking Information Modal"
The "%" text in the Staking Information modal has an extra "o" in the "Your stake weight" row.
![image](https://user-images.githubusercontent.com/6236019/32674474-64426a46-c621-11e7-8be8-30870a026271.png)

[2017-11-10 19:14] LiteBit commented on #324
Minor Visual Issue

[2017-11-10 19:16] LiteBit commented on #321
What about making "Send" arrow going up and "Receive" arrow going down?

[2017-11-10 19:37] SativaL opened #325 "hide balance in overview (presentation mode)"
Could you guys integrate such a function to hide the Main Balances ? like in Blockfolio (maybe necessary if you doing trades in public for example) (option able in the head top right just a small greyish thing that hide balance when clicked)

[2017-11-10 19:57] LiteBit opened #326 "Extra Space added to end of Mnemonic Seed when using "copy to clipboard""
I can't be positive, but it's worth double checking code.

At initial wallet startup (fresh install), I found that after copying my 24 word mnemonic seed using the copy to clipboard button and pasting it into Windows 10 Sticky Notes that **a space was at the end of the paste**.

[2017-11-10 20:19] allienworks commented on #324
Yes. It's not a bug, it's a feature!

And it's not percent, it's [per mille](https://en.wikipedia.org/wiki/Per_mille) (= 1/1000th of the whole). But there are more ppl confused, so I guess we should switch to more common percents instead.

[2017-11-10 21:35] SativaL commented on #321
No, i think standards within software development is what i have said above.

[2017-11-10 22:56] allienworks commented on #321
It originally was the other way around, my logic was that depends which way the arrow points from the text:
[code]
is IMO therefore better than
[code]
because in Receive the arrow points away.

If we'd move the icons to the right, I'd agree with you again (as the Send's arrow would point away):
[code]
but this is not the case.

Completely my opinion though, let's have a discussion.

[2017-11-10 22:59] allienworks commented on #150
@SativaL Is this still the issue with the 1.0 release?

[2017-11-11 03:39] LiteBit commented on #324
Oh I see. Wasn't aware of per mille :)
I think it should stay.

[2017-11-11 03:39] #324 closed

[2017-11-11 06:30] kapsr commented on #321
i agree with Satival

[2017-11-11 10:30] imybb opened #327 "Wrong version number in task bar"
Wrong version number is the task bar
![tray_icon_wrong_version](https://user-images.githubusercontent.com/30150617/32688563-2ecfce3a-c6cb-11e7-993f-f0e679d71e92.png)

If I'm right this should read Particl Wallet 1.0.0

[2017-11-11 10:31] rynomster commented on #327
Is this the build that you downloaded from our github release?

[2017-11-11 10:37] imybb opened #328 "History first and last page access buttons"
*enhancement*

Can we please add a First Page - Last Page in the history tab, once you click through to the end you have to click your way back to first page.

Could we also add the same at the top of the history section, this will save having to scroll down page every time in order to go to next or previous page.

Thanks

[2017-11-11 10:41] imybb commented on #327
no, I think it's the one you sent a link to as we was pre-testing

[2017-11-11 10:42] imybb commented on #327
I'll download the one from github and try that

[2017-11-11 10:47] imybb opened #329 "ESC key closes menu"
When you press the ESC key, the menu on the left disappears and there is no way of getting it back unless you restart the wallet.

[2017-11-11 10:53] rynomster commented on #329
This is fixed in 1.0.0, you are using an old version

[2017-11-11 10:56] imybb commented on #329
Yes, I was using our internal release :+1:

[2017-11-11 10:56] #329 closed

[2017-11-11 10:57] imybb commented on #327
Internal release was wrong, github release shows Particl 1.0.0

[2017-11-11 10:57] #327 closed

[2017-11-11 11:02] rynomster commented on #327
Yeah because we were still testing :)

[2017-11-11 11:29] SativaL opened #330 "Splash Screen stuck in wallet startup process"
The Splash Screen with the three dots get stucked upon startup (the wallet startup to enter overview takes around 1-2 seconds normally, and sadly the 3 dots are aways stuck and dont move (looks bugged).

Would be awesome to have them working still even if its only 2 second startup time.

if needed i can provide video/screen

[2017-11-11 11:36] SativaL commented on #150
yes still doesnt work, i can install it, then it says everything installed okay, but i cant find any shortcut icon in menu entry or on the desktop, cant even find the particl folder (its like its installing nothing). So if it would be possible to add shortcut with particl icon people would just click on it.

[2017-11-11 11:43] SativaL commented on #326
i can confirm this, doesnt work then (nothing happens can click ok 100 times) but if i enter it correctly without any spaces it works (loads and says congratulation)

[2017-11-11 11:49] SativaL opened #331 "wrong mnemonic check should trigger a descriptive error"
while generating a new mnemonic seed you copy it and then re-enter it again. In most client you are forced to re-copy it after you click next, this is okay. I dont know if this is wanted how it currently is that you cant just copy to clipboard and then ctr+v to re-enter everything (it wont let you do this, if you try to re enter with copy and paste it will re enter all of the seed into one word te

[2017-11-11 12:23] sebpalluel opened #332 "can't paste address in "Add new address to Address book" (osx)"
![issue paste address](https://user-images.githubusercontent.com/11297176/32689362-5f882442-c6e3-11e7-9c4e-391c337bf310.jpeg)

[2017-11-11 13:22] SativaL opened #333 "only 24 words seeds are allowed - allow 12, 15 and 18 words too"
a mnemonic seed with less than 24 words cant be important into the new gui. (tried with 18 words from the standalone particl generator)

The "Next" button stays grey and does nothing.

[2017-11-11 13:29] SativaL opened #334 "No Operating system notification with gui"
Hey since i use the gui for example after an incoming stake i dont get noticed like with qt back then (a small popup in the top right popped up and got me known), why is that ?

[2017-11-11 14:18] rynomster commented on #334
We are currently working on adding notifications

[2017-11-11 14:19] rynomster commented on #333
Thanks, this is a valid bug.. I also have some 12 and 15 word mnemonics
lying around

[2017-11-11 14:20] rynomster commented on #332
Try cmd+v

[2017-11-11 14:21] rynomster commented on #332
We'll have to add some basic context menus I guess :)

[2017-11-11 14:45] sebpalluel commented on #332
It's not working either with cmd + v or right click, paste. Don't want to mess up by writing it down char by char ;). Maybe the easier way would be to be able to paste it directly into the page. In the same way as in "WebTorrent" you can paste directly the hash of a torrent and it's added automatically.

[2017-11-11 15:14] kewde commented on #326
I can't replicate this on Linux, no space is added at the end here..

[2017-11-11 15:18] kewde commented on #325
What about the transactions? They also reveal information about the balance etc

[2017-11-11 15:45] SativaL commented on #325
yes but currently there are only stake rewards which are fine, maybe we can implement this in the future. Not that necessary, maybe some people like it.

[2017-11-11 15:47] kewde commented on #331
1. On purpose, we want to make sure they actually look at their seed and verify it.
2. There are some error message (straight from the daemon) pop ups, but they aren't refined for great UX.

[2017-11-11 17:16] SativaL commented on #326
sorry, i tried again and it worked correctly. Linux works

[2017-11-12 16:20] kapsr commented on #321
I think symbols should have meaning independent of what information is surrounding them, so i think the argument by allienworks (if send or receive are placed in front or behind the symbol) is not a valid argument (although i understand what you are saying)

[2017-11-12 20:07] LiteBit commented on #321
What if it was something more like these?
![send_receive-01](https://user-images.githubusercontent.com/6236019/32702866-1f543e32-c7bb-11e7-9660-7464b0957156.png)
![send_receive-02](https://user-images.githubusercontent.com/6236019/32702867-1f618146-c7bb-11e7-9b52-a0cd72d510f3.png)

[2017-11-12 20:09] LiteBit commented on #330
Please attach a video or gif showing what you're seeing. And the OS you're on. Thanks

[2017-11-13 05:38] kapsr commented on #321
i like em litebit

[2017-11-13 10:32] anandsinghparihar commented on #326
It's working fine !!!

[2017-11-13 11:04] HenkSwardt commented on #321
We will goi with suggestion from @LiteBit . @gerlofvanek will give us the official Particl branded version shortly.

[2017-11-13 11:43] anandsinghparihar commented on #332
Right click is not working in electron & I test in 2 different mac cmd+v is working fine.

I'll be adding paste button so if a user wants to paste address so he can use paste button or cmd+v.

[2017-11-13 14:37] anandsinghparihar opened #338 "Copy Paste Icon is same."
@gerlofvanek  Could you please create new Icon for paste. right now paste icon and copy icon is some please change it.
Thanks

[2017-11-13 14:52] pciavald commented on #305
@kapsr can you enlarge the window so I can see full error on first line ?
@SativaL can you reproduce by launching from the command line and pasting the output ?

these are 2 distinct errors.

[2017-11-13 17:15] pciavald commented on #216
should we close this issue as it was moved to a todo ?

[2017-11-13 17:15] #216 closed

[2017-11-13 17:17] pciavald commented on #293
moved to PR #315

[2017-11-13 17:17] #293 closed

[2017-11-13 17:20] #320 closed

[2017-11-13 17:24] pciavald commented on #314
any idea why this happens @kewde ?

[2017-11-13 17:26] pciavald commented on #150
@rynomster are the desktop shortcut / menus being correctly created on your side ?

[2017-11-13 17:31] pciavald commented on #330
no need for a gif, it's doing it on all versions. It seems this part of the bootstraping is not multi-threaded and all the resource is taken by the GUI starting, avoiding the GIF to run...
is that correct @kewde ?

[2017-11-13 17:35] pciavald commented on #332
@gerlofvanek i think there's a comment for you in that commit ^

[2017-11-13 17:37] pciavald commented on #334
closing in favor of PR

[2017-11-13 17:37] #334 closed

[2017-11-13 17:44] pciavald commented on #317
closing in favor of PR

[2017-11-13 17:44] #317 closed

[2017-11-13 17:53] pciavald opened #341 "paste address in address book to add"
It would be convenient to paste anywhere on address book to open the add address modal and prefill it with the address

[2017-11-13 19:17] LiteBit commented on #321
I noticed [Exodus Movement](http://www.exodus.io/#design) has something similar for In and Out.

![capture](https://user-images.githubusercontent.com/6236019/32744382-4e857a8c-c87d-11e7-99f4-ee03ddb8eddc.PNG)

[2017-11-13 20:25] ArMuta opened #343 "uncaught exception: could not connect to daemon"
<img width="532" alt="screen shot 2017-11-13 at 16 06 42" src="https://user-images.githubusercontent.com/33633278/32747192-42513694-c8b8-11e7-8fbe-113d708694bf.png">

# Describe bug/issue
Cannot launch wallet anymore

# How to reproduce
Laptop went on sleep, as the system went out of sleep, Wallet displayed a connection issue, then closed, then seems unable to re-launch.

# More information

- Ope

[2017-11-13 21:26] pciavald commented on #305
@SativaL this is not the same issue. Please log it in #343. When doing so, can you please include the console logging, ie by launching ./partcl from the command line ?

@kapsr can you widen the error screen so we can read the full line ?

[2017-11-13 21:34] pciavald commented on #343
my guess is that it comes from here :
https://github.com/particl/partgui/blob/master/modules/rpc/daemon.js#L169
if so it would be fixed by merging #297
https://github.com/pciavald/partgui/blob/d6af290db95cb510afb946cdca51177d11beb0b4/modules/init.js#L33

[2017-11-13 21:36] pciavald commented on #343
@ArMuta problem should disappear with a reboot

[2017-11-13 21:42] pciavald commented on #305
seems observer was destroyed when called here
https://github.com/particl/partgui/blob/master/modules/rpc/rpc.js#L120

[2017-11-13 21:45] pciavald commented on #305
maybe also involves a timeout
https://github.com/particl/partgui/blob/master/modules/rpc/rpc.js#L72

[2017-11-14 01:32] pciavald opened #344 "redefine logging levels"
We should have precise logging levels for the backend, that also logs the front. It will help debug the users' issues.

https://www.npmjs.com/package/electron-log

[2017-11-14 04:50] cryptoguard opened #345 "Number of confirmations doesn't update in "Overview" tab"
The number of confirmations displayed in each transaction lines in "Overview" (i.e. 12+) doesn't update if staying on the same page. The number of confirmations is updated when switching sections by clicking on another tab (i.e. Send) and then clicking back on "Overview".

Is this on purpose? It would feel better if it updated in real-time especially for monitoring staking rewards and their confir

[2017-11-14 04:55] cryptoguard opened #346 "Add more "Items per page" in History section"
Currently, it is only possible to choose between 5, 10 and 20 transactions displayed per pages. Could more options be added like 50, 100, 250, etc.

This is easier to have many transactions on the same page when monitoring staking rewards and also to quickly search for a specific transaction. Easier to scroll than have to click the next arrow for hundreds of pages.

Alternatively, a page menu drop

[2017-11-14 04:59] rynomster commented on #330
Yeah unfortunately it's not possible to fix this. The main thread is blocked by angular at this point in time.

[2017-11-14 05:06] cryptoguard opened #347 "Cannot make a balance transfer from blind to public"
It is possible to make a balance transfer from a public address to a blinded balance, however it does not work the other way. Radio buttons are greyed out and cannot be changed. Unsure if it is on purpose.

NOTE: In this screenshot, I do have a public (X PARTs)
![selection_006](https://user-images.githubusercontent.com/27031337/32763761-a4ed1ea0-c8cf-11e7-8c35-f347004fd773.jpg)
and private balance

[2017-11-14 05:09] cryptoguard opened #348 "No notification when receiving a staking reward"
The GUI wallet doesn't seem to trigger a notification of received staking reward similar to how particl-qt notifies users with a yellow popup bubble.

Using Linux Mint XFCE

[2017-11-14 05:24] rynomster commented on #348
There are now a few notification issues... We are working on it

[2017-11-14 05:25] rynomster commented on #348
Duplicate of #340

[2017-11-14 05:25] #348 closed

[2017-11-14 08:24] anandsinghparihar opened #349 "Add "Send all" button/icon to Send page"
Suggestion: add "Send all" button/icon to Send page.

[2017-11-14 08:33] anandsinghparihar commented on #314
@pciavald I am checking it !!

[2017-11-14 09:12] HenkSwardt commented on #318
@vikas-cis will be investigating this issue.

[2017-11-14 11:14] kewde commented on #314
This is for any modal I believe. I did this on purpose, but the css changes have broken it.

[2017-11-14 11:17] allienworks opened #350 "Display narrations in TX details"
TX narrations are nowhere to be seen in current GUI. Implementation needed.

- [x] display narration icon in TX list when it's present
- [x] display narration content in TX detail
- [ ] add help text to send that "narrations are public" (so it's not confused with private TX notes)

[2017-11-14 11:18] anandsinghparihar commented on #314
@allienworks  could you please have look

[2017-11-14 11:19] anandsinghparihar commented on #349
@kewde , please let me know API details.

[2017-11-14 12:06] HenkSwardt opened #351 "Gracefully shutting the deamon on Windows"
We need to look at a way to allow a graceful shut down of deamon on Windows
- Operating system and version: Windows

[2017-11-14 12:17] allienworks commented on #314
Seems like this happens on Win only. Does anybody have this bug on Linux/Mac as well?

[2017-11-14 12:31] HenkSwardt opened #352 "Background graphics for macOS installer + custom icons"
We need to add background graphics for macOS installer + custom icons

[2017-11-14 12:38] HenkSwardt opened #353 "Warn/inform user if wallet is running on testnet"
Display some "warning" when you're running wallet on testnet + change main sidebar logo (main sidebar logo + small subtext “testnet”) in red if on testnet

[2017-11-14 12:41] HenkSwardt opened #354 "NPM command for bumping versions"
We need a npm command for bumping versions

[2017-11-14 13:01] pciavald commented on #354
can do ! :)

[2017-11-14 13:02] pciavald commented on #352
@allienworks has started doing it, maybe @gerlofvanek ?

[2017-11-14 13:03] pciavald commented on #351
should be fixed by #297

[2017-11-14 13:34] pciavald commented on #314
I had it too on linux

[2017-11-14 13:38] vikas-cis commented on #318
I have check the issue but couldn't able to reproduce it on mac as well as on windows.

Thanks

[2017-11-14 13:46] pciavald opened #355 "generate API documentation"
We should write a script to generate documentation from RPC API functions. This way we can regenerate the documentation without having to manually checkout API changes and additions.

[2017-11-14 13:51] allienworks commented on #352
I haven't. @gerlofvanek was assigned to this task on Paper.

[2017-11-14 13:53] pciavald commented on #354
added to #297

[2017-11-14 14:00] pciavald commented on #349
Logging here for convenience
[code]

[2017-11-14 14:06] allienworks commented on #314
I had some trouble setting up my Win machine for dev, but it seems that the issue is connected to this `*ngIf="!syncPercentage"` block: https://github.com/particl/partgui/blob/develop/src/app/modals/syncing/syncing.component.html#L48

This whole block isn't needed at all IMO. It has almost the same contents as the intro splash screen and it's never used (just blinks before the `*ngIf="syncPercenta

[2017-11-14 14:08] gerlofvanek commented on #353
I will make the testnet logo + upload the testnet logo.

[2017-11-14 14:09] pciavald commented on #314
seems I added this in july https://github.com/particl/partgui/commit/49114816b8b1cdbb55d3cf9b0bb0777f7f17cb62

[2017-11-14 14:12] rynomster commented on #353
We can also add - testnet to the title

[2017-11-14 14:12] allienworks commented on #314
I don't see it at all on my Linux machine, on my Win it just blinks for a fraction of second.
**Can someone else confirm how long they see it before it disappears?**

It doesn't really serve any purpose (from what I see), so I would get rid of it.
The styling is messed because it inherits styles from splash screen, which is dark.

[2017-11-14 14:27] allienworks commented on #314
^ created PR for this. If you can, please test if it still behaves badly.

[2017-11-14 14:43] #314 closed

[2017-11-14 14:56] #354 closed

[2017-11-15 10:18] vikas-cis commented on #347
#360

[2017-11-15 10:31] SativaL opened #361 "Cant decrypt wallet (not even restore, angular gui)"
Hey, tried to enter my passphrase (completely right copied) to decrypt my angular wallet.. but it said

Unlock failed - password was incorrect Dismiss

even the password was 100% right, no additional space i checked, also the password works without problem in qt client.

also i even tried to restore fully with always deleting .particl folder, so after entering my mnemonic key and passphrase (corre

[2017-11-15 13:36] HenkSwardt commented on #318
@Diti, Can I ask that you please enable debug logging and try to recreate this scenario for us. If you manage to get the same behavior please supply us with the log file on this issue.

Thank you

[2017-11-16 06:30] HenkSwardt opened #362 "Transactions duplicate when sent once"
@vikas-cis ran into some strange behaviour while testing OS notifications where transactions were being sent  twice and in some cases 3 times eeven though only one transaction was sent.

This is currently being investigated by him and @kewde.

[2017-11-16 06:34] HenkSwardt commented on #351
We have merged #297 to Dev branch. Can this please be tested and confirmed to have been resolved.

@kewde will you please check this for us.

Thank you

[2017-11-16 06:42] HenkSwardt commented on #332
PR awiting review for this issue #339

[2017-11-16 07:14] HenkSwardt commented on #343
Hi @pciavald

#297 has been merged to Dev branch, can you please test and confirm that this has been resolved.

Thanks

[2017-11-16 07:16] HenkSwardt commented on #344
Hi @pciavald

Please confirm that this is now in place following the merge of #297

Thanks

[2017-11-16 08:08] HenkSwardt commented on #347
Changes has been merged to Dev. Closing issue

[2017-11-16 08:08] #347 closed

[2017-11-16 10:07] rynomster opened #363 "Standardise Tray / taskbar behaviour"
# Describe bug/issue

* On OSX, the tray icon is massive, and covers almost the whole top bar, this should be changed to a 16x16 icon.
* We could use the taskbar for the menu instead of the tray, this is standard behavior on OSX apps.
* Not sure if we need to even show the tray icon on OSX.

# How to reproduce

Describe the steps needed to recreate the bug/issue:

1. Run application on OSX

# More

[2017-11-16 10:12] HenkSwardt commented on #363
Duplicate of #323

[2017-11-16 10:32] rynomster commented on #363
I don't think its A duplicate.. Maybe a more accurate description, also I believe we should standardize behaviour, consider getting rid of the tray icon on OSX and moving it to the taskbar menu for OSX.

[2017-11-17 12:00] SativaL commented on #361
ps: when i create a new seed with the new wallet, i can import it. but when i try to import the old seed, doesnt work. PARSE ERROR

[2017-11-17 12:16] HenkSwardt opened #376 "Create wallet modal misaligned - sync bar misaligned - sidebar error message"
When Creating a new wallet on OSX we have misalignment on the first modal. Please see screenshot below:

![image-10310](https://user-images.githubusercontent.com/28799964/32946813-b944f330-cba1-11e7-93cf-93f43d109012.jpg)

- Operating system and version: Latest OSX
- Client version: GUI Dev

[2017-11-17 12:31] HenkSwardt commented on #316
This will be part of one of or later versions. We need to ensure resizing on all pages keep look feel and behavior in place. Closing this issue in favor of task logged for this enhancement.

[2017-11-17 12:31] #316 closed

[2017-11-17 12:36] HenkSwardt commented on #355
Hi @pciavald ,

Jason (@EagleEye25 ) will take a stab at this for us.

Thanks

[2017-11-17 13:58] pciavald commented on #355
I think @EagleEye25 is not in the list of this repo because I cannot assign him @HenkSwardt

[2017-11-17 13:59] pciavald commented on #355
[Bitcoin API list example](https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list)
[RPC function example](https://github.com/particl/particl-core/blob/master/src/wallet/rpchdwallet.cpp#L3054)

[2017-11-17 14:01] HenkSwardt commented on #323
Standardise Tray / taskbar behaviour #363

Closing this task

[2017-11-17 14:01] #323 closed

[2017-11-17 14:41] pciavald commented on #332
solved

[2017-11-17 14:41] #332 closed

[2017-11-17 17:57] pciavald commented on #314
![](https://i.pinimg.com/736x/b6/41/67/b64167994e7d0fca2485268092a6ce12--pi-pie-butter-pie.jpg)

[2017-11-17 18:06] pciavald commented on #330
Actually, knowing that it is a wontfix, can we remove the gif ? @allienworks @gerlofvanek

[2017-11-18 23:53] allienworks opened #381 "Sync modal (empty) still firing up when syncing"
When launched and blockchain isn't synced, the syncing modal (see https://github.com/particl/partgui/pull/356) still fires up, even though it's empty.

We need not to launch the modal at all, syncing process is shown in the sidebar menu now.

(`develop` branch)

[2017-11-20 08:26] HenkSwardt commented on #349
PR Pending review #358

[2017-11-20 11:02] kewde commented on #381
It shouldn't be empty tho, it's only empty when loading?

[2017-11-20 11:43] allienworks commented on #381
Hmm, looks like a misunderstanding. I thought we'll get rid of the whole syncing modal (and replace it by the progressbar in sidebar instead). If needed, we can add all those other infos to the progressbar as well (like remaining blocks, ETA etc.)..

[2017-11-20 14:27] pciavald commented on #333
moved to PR

[2017-11-20 14:27] #333 closed

[2017-11-20 22:29] cryptoguard opened #386 "GUI wallet sometimes automatically locks by itself"
I have found this issue happening about 4 or 5 times since I've been staking on GUI this week waiting for my cold staking node to be 100% completed. I will unlock the wallet for staking only, and then it will randomly lock itself. I have had it happen after 10 minutes of being unlocked, and sometimes have gone for days without locking itself.

It happened today while I was sleeping, it had been un

[2017-11-21 10:14] HenkSwardt commented on #355
Issue has been completed in https://github.com/particl/partgui/pull/383

[2017-11-21 10:21] HenkSwardt commented on #331
@EagleEye25 will look into this fr us.

Please look at this point for us:
"Also if you click next with a wrong seed entered you should be getting a small information that the seed entered was incorrect."

As stated by @kewde some of the other behavior is intentional, and the pasting into a single box has been resolved.

[2017-11-21 10:42] SativaL commented on #330
what does this mean for future builds ? (idk maybe the whole syncing process

[2017-11-21 10:43] SativaL commented on #321
i dont like them, really like the classic one in correct standard layout most.

[2017-11-21 14:47] pciavald opened #392 "windows daemon could not connect"
Seems to be a cookie problem
[code]

[2017-11-21 15:19] anandsinghparihar opened #393 "Encryption modal is not closed after setup encryption key"
Encryption modal is not closed, initially if a user created wallet without setup encryption key, After that user, just setup Encryption key then Encryption Modal would be closed, but it's not closed.

_As per default functionality after setup encryption key user will redirect to create wallet page._

[2017-11-21 15:32] anandsinghparihar commented on #393
Some time unlock modal is also auto closed !!

[2017-11-21 15:34] allienworks opened #394 "Wallet not shutting down properly (Linux, dev branch)"
When running wallet on testnet via `ng serve` and `npm run start:electron:dev -- -testnet -debug` (on current develop branch), the wallet doesn't close properly.

1. When clicking the OS's close button `[×]`, the Wallet window disappears, but the tray icon is still in place + terminal process is still running..
2. Just after closing wallet from tray icon or `Ctrl-C` kills it..

Here's my output:

[2017-11-21 16:27] pciavald commented on #392
`-rpcuser=test -rpcpassword=test -reindex fixes it`

[2017-11-21 17:34] allienworks commented on #394
Looks like my `particld` was still running. `killall particld` solved this issue so far.

[2017-11-21 17:34] #394 closed

[2017-11-21 18:46] cryptoguard commented on #386
Just want to add...

When I say "locks itself out", I mean going from a state of "Unlocked for staking" to "locked", meaning staking seizes.

[2017-11-23 16:04] pciavald commented on #381
closing in regard to the PR

[2017-11-23 16:04] #381 closed

[2017-11-23 16:07] pciavald commented on #386
Wow, that is strange. Can you please launch from the command line `./particl -printtoconsole` to keep the logs displayed, and paste it next time it locks itself ? Thank you.

[2017-11-23 19:36] cryptoguard commented on #386
I installed with .deb

Can I just do particl -printtoconsole ?

[2017-11-23 19:44] cryptoguard commented on #386
It just did it again by the way after I ran "particl -printtoconsole". How can I retrieve the log?

[2017-11-23 19:52] pciavald commented on #386
didnt the log appear on console ?

[2017-11-23 19:53] cryptoguard commented on #386
It did not

[2017-11-23 19:53] cryptoguard commented on #386
[14:35:44.658] [debug] could not find cookie file! path: /root/.particl/.cookie
[14:35:44.837] [debug] Daemon not running. It will be started bt the daemon manager
Initializing...
Resolving path to client binary ...
Platform: linux
Client binary path: /root/.config/Particl Wallet/particld/unpacked/particld
Checking for new client binaries config from: https://raw.githubusercontent.com/particl/part

[2017-11-23 19:54] cryptoguard commented on #386
But I get this same log when running particl without -printtoconsole so I doubt it's the right output

[2017-11-23 19:55] pciavald commented on #386
that is the log. But i need it complete and if possible between 3 `

[2017-11-23 19:56] cryptoguard commented on #386
I've pasted everything that is displayed after I entered particl -printtoconsole

[2017-11-23 20:04] pciavald commented on #386
mhh, i'm not used to the packaged version, i don't know why the `printtoconsole` flag is not being passed to the daemon. I'll get back to you.

[2017-11-23 20:19] cryptoguard commented on #386
Ok thanks!

Note that the GUI was fine and not locking itself out since my initial issue submission. But somehow my laptop ran out of battery and when I booted back on and started GUI, it did lock itself out less than 5 minutes after I unlocked it for staking.

I find that it will happen more often when I will boot my VM and start GUI for the first time. It would happen 5 to 10 minutes after unloc

[2017-11-23 22:28] pciavald commented on #386
Yes, unrelated error. This is already documented in #305. Thank you for the insight.

[2017-11-23 22:29] pciavald commented on #305
also happened in Linux

[code]

[2017-11-23 22:50] pciavald opened #411 "internal transfer narration not displayed"
Following #357, PART to BLIND transactions' narration is not displayed because of the Transaction model using listtransactions instead of filtertransaction.

[2017-11-23 22:51] pciavald commented on #350
Closing this

[2017-11-23 22:51] #350 closed

[2017-11-23 23:49] pciavald commented on #345
closing for PR

[2017-11-23 23:49] #345 closed

[2017-11-24 16:56] greenkeeper[bot] opened #412 "An in-range update of ngx-clipboard is breaking the build 🚨"
## Version **8.1.2** of [ngx-clipboard](https://github.com/maxisam/ngx-clipboard) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Fngx-clipboard-8.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ngx-clipboard
    </td>
  </tr>
  <tr>
    <th a

[2017-11-26 16:41] AllienWorks opened #414 "Graphs for balances/staking"
Suggestion to implement this library for including graphs - http://krispo.github.io/angular-nvd3/ as we talked about it with @gerlofvanek (based on his initial designs).

Could be used for various widgets:

- voting
- staking info (number of stakes per day/month etc.)
- balance amounts
- sent/received TXs in History tab

Would be surely handy for marketplace in the future as well.

[2017-11-26 18:44] rynomster commented on #414
That library looks like it's for angularJS and not angular. The graphs are pretty cool though

[2017-11-27 08:41] anandsinghparihar opened #415 "Form cancel button work like submit button !!!"
- Change cancel button action type and when a user clicks on cancel modal would close.
- Cancel button work like a submit button in receive page, add address book etc

[2017-11-27 09:20] greenkeeper[bot] opened #416 "An in-range update of electron-builder is breaking the build 🚨"
## Version **19.46.9** of [electron-builder](https://github.com/electron-userland/electron-builder) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Felectron-builder-19.46.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron-builder
    </td

[2017-11-27 12:04] anandsinghparihar opened #419 "Error while selecting value form select drop-down in Restructure branch"
After selecting a value from dropdown its return error!!

[2017-11-27 12:08] allienworks commented on #414
@rynomster there's one for Angular2+ as well: https://github.com/krispo/ng2-nvd3

[2017-11-27 12:18] SativaL opened #420 "gui electron, doesnt update transaction confirmations"
when you send or receive something the wallet doesnt automatically update itself

you need to tab out to some other tabs like history and tab back again into overview to see how many confirmations your transactions got.

if you dont tab out it will stay at 0 confirmations even if it has already some.

[2017-11-27 12:33] allienworks commented on #420
Already working on this - https://github.com/particl/partgui/pull/378

[2017-11-27 12:33] #420 closed

[2017-11-27 12:37] allienworks commented on #346
I believe this is solved already and will be included in the next release.

[2017-11-27 12:37] #346 closed

[2017-11-27 12:39] allienworks commented on #344
This has been solved already, right @pciavald?

[2017-11-27 13:45] HenkSwardt commented on #361
I have asked @EagleEye25 to investigate this issue for us and add additional test cases where needed.

[2017-11-28 07:06] HenkSwardt commented on #331
Issue has been resolved.

https://github.com/particl/partgui/pull/418

[2017-11-28 07:06] #331 closed

[2017-11-28 07:11] HenkSwardt commented on #341
@EagleEye25 will be adding this for us.

[2017-11-28 07:14] HenkSwardt commented on #392
Hi @pciavald

Please confirm what is needed in this issue.

Thanks

[2017-11-28 07:21] EagleEye25 commented on #361
I have created a test wallet, and deleted the wallet.dat from particl, for wallet restore purposes and have recieved no issue with restoring the wallet, also with the current error validations that ive added https://github.com/particl/partgui/pull/418, if wrong words have been entered it will now display an error. We are not able to write tests for the restore wallet as of now, as the tests do not

[2017-11-28 08:00] anandsinghparihar commented on #393
@pciavald could please help me to find out why the demon is not restarted if no wallet created or while user setup encryption key.

[2017-11-28 11:33] anandsinghparihar commented on #419
I am going to put this task on hold as this error as already resolved by the material dev. (but resolved code is not in updated branch)
https://github.com/angular/material2/pull/7729

[2017-11-28 11:35] EagleEye25 commented on #341
added functionality https://github.com/particl/partgui/pull/428

[2017-11-28 11:41] anandsinghparihar opened #429 "Add pagination in AddressLookup"
Address lookup modal required pagination.

![address-lookup-pagination](https://user-images.githubusercontent.com/17725557/33324036-54b439c2-d474-11e7-9cdc-09458d85764a.png)

[2017-11-28 12:31] allienworks commented on #330
Animation removed, PR waiting to be merged.

[2017-11-28 12:31] #330 closed

[2017-11-28 13:23] EagleEye25 commented on #341
added functionality https://github.com/particl/partgui/pull/430

[2017-11-28 14:01] HenkSwardt commented on #386
@vikas-cis has been assigned to this issue

[2017-11-28 14:56] pciavald commented on #393
Yes I'll check that up tomorrow.

[2017-11-29 08:10] HenkSwardt commented on #328
Fr this issue we will need to write our own "First and Last page" as its not a sported or supplied feature.

Please see https://github.com/angular/material2/issues/6665 for details.

Closing comment of above isssue on Material2 branch:

[2017-11-29 09:26] HenkSwardt commented on #328
@EagleEye25 will be looking into this for us.

[2017-11-29 10:18] anandsinghparihar commented on #376
@allienworks could you please check it, I tried to resolve it but I guess flex is not working properly here
![Uploading Screen Shot 2017-11-29 at 2.12.42 PM.png…]()
![screen shot 2017-11-29 at 2 12 57 pm](https://user-images.githubusercontent.com/17725557/33370128-a63dab5e-d51c-11e7-8131-d6a40daaafb8.png)

[2017-11-29 10:57] anandsinghparihar commented on #415
PR:  https://github.com/particl/partgui/pull/434

[2017-11-29 10:57] #415 closed

[2017-11-29 13:27] pciavald commented on #393
I've just noticed that when the wallet is unlocked, and we click on the lock button, the UNLOCK modal pops up. Should not. Can you fix it please ?

[2017-11-29 15:43] anandsinghparihar commented on #393
Yes I'll thanks

[2017-11-29 15:44] anandsinghparihar commented on #328
@HenkSwardt We will go with custom component I'll do it.

[2017-11-29 17:00] anandsinghparihar opened #436 "Blind Transaction Display 0 PART"
Blind Transaction display 0 PART
![screenshot from 2017-11-29 22-20-18](https://user-images.githubusercontent.com/17725557/33387980-ac8e1d76-d554-11e7-8e60-20675d9988d9.png)

On Blind Receive or Balance Transfer.

[2017-11-30 07:58] EagleEye25 opened #437 "Missing css file"
# Describe bug/issue
`overview:7 GET http://localhost:4200/assets/index.css `

It seems as if its been changed to scss, without adding the ability for the index.html file to be able to read the scss..
..

# How to reproduce

1. Run application
2. Open debug console

# More information

- Operating system and version: windows
- Client version: resrtructure branch

[2017-11-30 08:41] anandsinghparihar commented on #429
PR Merged

[2017-11-30 08:41] #429 closed

[2017-11-30 09:00] vikas-cis opened #438 "Couldn't able to see the client and daemon version on mac-OSX properly"
![screen shot 2017-11-30 at 2 26 31 pm](https://user-images.githubusercontent.com/20254889/33422141-a8dc6788-d5da-11e7-878a-4879e9a109ec.png)

[2017-11-30 11:38] allienworks commented on #437
Fixed in https://github.com/particl/partgui/commit/a2f8f4cc796b9e92e5a3037ff41f79b1a8140c7e

[2017-11-30 11:38] #437 closed

[2017-11-30 17:07] vikas-cis commented on #393
I was running the restructure branch and get a wired issue while opening the unlock modal, it automatically gets closed

OS: Windows 7

[2017-11-30 22:15] #438 closed

[2017-11-30 22:18] #363 closed

[2017-12-01 08:53] anandsinghparihar commented on #393
@pciavald

[2017-12-01 09:39] HenkSwardt opened #452 "Addition of CSS classes to confirmations"
Add different CSS classes to confirmations, based on # of them.

e.g.:
​​0 confirmations = `.confirm-none`
​​1-4 = `.confirm-1`
​​5-8 = `.confirm-2`
​​9-12 = `.confirm-3`
​​12+ = `.confirm-ok`

@allienworks , once Vikas has done this he will hand over to you for #GFX portion

[2017-12-01 09:47] gerlofvanek commented on #376
@anandsinghparihar Bug same on windows (restructure branch).

After deleting the wallet.dat and restarting the client.

![Image of windows wallet](https://i.gyazo.com/b9a0466a71ab0558f12b6bfa66d9ee07.png)

(Other thing I noticed - sync bar not looking ok on restructure branch)

[2017-12-01 10:08] anandsinghparihar commented on #376
Yeah, issue is really strange... flex should be work in all operating system

[2017-12-01 12:42] gerlofvanek commented on #353
#453

[2017-12-01 12:42] gerlofvanek commented on #338
#453

[2017-12-01 12:42] gerlofvanek commented on #321
#453

[2017-12-01 12:43] gerlofvanek commented on #352
#453

[2017-12-01 13:15] gerlofvanek commented on #353
@pciavald
If testnet replace sidebar logo particl-logo.svg -> particl-logo-testnet.svg
If testnet add "- testnet" in application title

[2017-12-01 15:31] allienworks commented on #376
There's another issue. Wallet seems not to be recognizing if `wallet.dat` is present, because in your sidebar, there are both "Wallet" sections (the one for when `wallet.dat` isn't present AKA "Add account" menu + the other when `wallet.dat` is present AKA "Receive / Send etc."

[2017-12-01 15:42] allienworks commented on #452
Merged.

[2017-12-01 15:42] #452 closed

[2017-12-02 04:31] peterhendrick opened #457 "No gpg signature for wallet download."
No gpg signature for downloads or shasums.

Seems like a pretty easy step to add in. It's pretty standard practice. Ensures that your download has been signed by the authors and has been uncorrupted since being signed.

[2017-12-02 09:52] SativaL commented on #457
https://github.com/particl/partgui/releases/tag/v1.0.0

4b5554b3b334bc621bcb30537e8102636b7673175f6a3af2972c8435f59e5617  particl_1.0.0_amd64.deb
f2487f8bcc78dabeeac00a19b97db047cc5304486c432a50449cb65d43a875b3  particl-1.0.0-linux.tar.gz
e4bfe480e23f8c59d642f00933de16ebc511dae02638ab2a37b95565031ec87b  particl-1.0.0-mac.zip
75348e85f03a822b5ca24d20c2ce050bd4d082e31fd94492498db1afcc384cc4  particl

[2017-12-02 10:53] vikas-cis commented on #386
@HenkSwardt  I have gone through the issue  and I have tested but couldn't able to reproduce it at windows

OS: Windows7

[2017-12-02 15:10] anandsinghparihar opened #458 "Need first page and last page icon"
Hi @gerlofvanek,
I need the first page and last page icon,  for a moment I just used fa icon but it's not looking good please create an svg file.
thanks.
![desktop screenshot 1](https://user-images.githubusercontent.com/17725557/33516964-6156ac3e-d7a1-11e7-977a-3982850bcf04.png)

[2017-12-02 15:55] gerlofvanek commented on #458
#453

[2017-12-03 16:53] ChurchOfNotNothing opened #459 "OSX version can't paste password for staking"
# Allow for pasting password to stake

I can't tell you how annoying it is to have to type in my password which is complicated.
..

# I Personally would settle for the ability to command + v or even a right click with option to paste

- Operating system and version: High-Sierra OSX 10.13.1

[2017-12-04 08:01] HenkSwardt opened #461 "Addition of Help Text or Tooltips to GUI"
We need to add tooltips to the GUI in places that might need explaining or guidance.

This feature will be to assist the user navigate the GUI.

Assigning task to @EagleEye25

[2017-12-04 10:18] EagleEye25 commented on #461
added tool tips on overview, receive, send, history, address book, to help users navigate through out the app. go to https://docs.google.com/document/d/17897eXtgw7tk4rUpGTYt8S6yImygRetZBsvzGa6iioA/edit for more information

[2017-12-04 11:53] HenkSwardt commented on #459
Hi @ChurchOfNotNothing

We have tested this in the current Dev build as some pasting issues were addressed and it seems to be working now. Please note it will be available in the next release.

Thank you for logging.

[2017-12-04 11:53] #459 closed

[2017-12-04 13:51] EagleEye25 commented on #414
will look into this at another time, after 1.1 release

[2017-12-04 18:38] pciavald commented on #361
should be fixed by 433, please reopen after release 1.1 if the problem persists

[2017-12-04 18:38] #361 closed

[2017-12-04 19:27] kewde commented on #457
@peterhendrick

We do gitian-builds for particl-core. You can build yourself and verify that it was built correctly.
We do not provide gitian-builds for our GUI, but it is something we're looking into.
The node dependencies aren't pinned so we can't do deterministic builds yet.

[2017-12-04 23:07] #457 closed

[2017-12-05 11:20] anandsinghparihar opened #464 "Add close icon in all small dialog box."
Can we add a close icon in all small width modal?

[2017-12-06 01:43] #461 closed

[2017-12-06 07:41] EagleEye25 opened #467 "Wallet crashes on restructure branch if .cookie file exists"
# Describe bug/issue

The wallet crashes if the .cookie file exists. It seems to be an authentication issue.
This only happens on the develop and restructure branch
`ThreadRPCServer incorrect password attempt from 127.0.0.1:1090`

# How to reproduce

Describe the steps needed to recreate the bug/issue:

1. Run wallet
2. Try to restart wallet

# More information

- Operating system and version: Win

[2017-12-06 10:57] anandsinghparihar commented on #464
PR: https://github.com/particl/partgui/pull/434

[2017-12-06 10:57] #464 closed

[2017-12-06 13:28] kewde commented on #436
Should be fixed in #387

[2017-12-06 15:17] pciavald commented on #343
This should be fixed by #455. Please reopen if not when we release Wallet 1.1.0

[2017-12-06 15:17] #343 closed

[2017-12-06 15:17] pciavald commented on #305
this should be fixed by #455. Please reopen if not fixed after Wallet 1.1.0 release.

[2017-12-06 15:18] pciavald commented on #313
Probably fixed by #455. Please reopen if it's not fixed after Wallet 1.1.0 release.

[2017-12-06 15:18] #313 closed

[2017-12-06 15:19] pciavald commented on #392
should be fixed with #455, reopen if not fixed after Wallet 1.1.0 release

[2017-12-06 15:35] #341 closed

[2017-12-06 15:35] #352 closed

[2017-12-06 15:39] #436 closed

[2017-12-06 15:56] pciavald commented on #467
should be fixed by #455. Please reopen if not

[2017-12-06 16:19] pciavald commented on #393
i had a problem that seems not to exist anymore. Should be fixed by #455 for the creation modal that doesn't close, it was due to the daemon not restarting correctly.

[2017-12-06 16:19] #393 closed

[2017-12-06 16:23] anandsinghparihar opened #468 "Send > Dropdown should be proper align"
In send page, the PART dropdown is displayed small, it should be proper align
![send-dropdown](https://user-images.githubusercontent.com/17725557/33672251-cb3717a2-dacf-11e7-8730-fbe951922947.png)

[2017-12-06 16:26] vikas-cis opened #469 "Debug Console Log"
Debug window functionality similar like in QT wallet

[2017-12-06 16:39] vikas-cis commented on #469
![screenshot](https://user-images.githubusercontent.com/20254889/33673120-f7a2908a-dad1-11e7-9964-a053ed5b50d9.png)

@gerlofvanek : Need this icons to be change :)

[2017-12-06 20:59] pciavald commented on #344
sorry, nope it's not solved yet :)

[2017-12-07 11:00] anandsinghparihar opened #484 "Empty Dialog Modal"
Empty modal open if no wallet exists. display `Error: Loading block index.`

![empty-modal](https://user-images.githubusercontent.com/17725557/33711973-d6d5684c-db6b-11e7-8774-4151491948ea.png)

[2017-12-07 13:47] anandsinghparihar commented on #484
this error does not occur again but I saw this error sometimes we need to debug it in which case its display empty?

[2017-12-07 15:56] vikas-cis commented on #469
![screen shot 2017-12-07 at 9 24 17 pm](https://user-images.githubusercontent.com/20254889/33724289-0e6d404e-db95-11e7-81ee-93ad55cd6c77.png)

@gerlofvanek I have added the dummy icon at the top right over status, we need to replace with the one you will create :)

Thanks

[2017-12-07 16:47] pciavald commented on #484
Can't handle this now, i have too much on the waiting line. @HenkSwardt ?

[2017-12-07 16:48] pciavald commented on #484
yes
i think it's a bit random
it depends how fast the daemon manages to start => if an RPC call is issued before the daemon is ready
this issue will be fixed anyway because the gui will be avoided from making calls while the daemon is not ready
but it doesn't mean that we shouldn't fix the empty modal problem
because it could pop for another reason

[2017-12-08 07:14] HenkSwardt opened #485 "Incorrect password when encrypting on restore wallet overwrites original password"
This issue was reported to me via a message, @anandsinghparihar is busy investigatiing if it is possible to reproduce and test this functionality.

1. Changing password, says it is incorrect but keeps the newly entered password.
2. The wallet is encrypted and locked but the icon shows unlocked

# How to reproduce

1. While restoring a wallet and at the encrypt step you entered a different password

[2017-12-08 07:19] EagleEye25 commented on #468
i have had a look at the issue, and consulted with ryno, as i couldnt get hold of kiriti at the moment and he states that its perfect as is, so no need for any change

[2017-12-08 07:29] HenkSwardt commented on #468
Closing issue as per above discussion

[2017-12-08 07:48] anandsinghparihar commented on #468
Small input does not look good we should divide it like as it was
![screenshot from 2017 12 08 13 16 09](https://user-images.githubusercontent.com/17725557/33756152-287b6bca-dc1a-11e7-9b04-8242633a208b.png)

[2017-12-08 08:58] gerlofvanek commented on #468
Please make it look like the screenshot below:
![Align](https://i.gyazo.com/af0bd7cff1c3ff9aa94273c26366da6e.png)

I think since the material upgrade some items are not styled properly anymore. Please keep the layouts consistent, and align inputs in proper manner. The drop down (currency one) is missing the underline.

[2017-12-08 09:01] EagleEye25 commented on #468
i will get on it now

[2017-12-08 09:24] anandsinghparihar commented on #468
In narration, case may be dropwon not look good so we should set width 30% to dropdown and 70% to input. as @gerlofvanek suggested

[2017-12-08 09:43] EagleEye25 commented on #468
fixed: https://github.com/particl/partgui/pull/486

[2017-12-08 09:54] gerlofvanek commented on #468
@EagleEye25 Thanks!, can you add the bottom border line under PART, same as the input fields? And make it 70% (input) / 30% (drop-down) as @anandsinghparihar screenshot.

[2017-12-08 09:55] EagleEye25 commented on #468
will do so

[2017-12-08 11:23] EagleEye25 commented on #468
done:
![ss 2017-12-08 at 01 23 20](https://user-images.githubusercontent.com/28861857/33763934-09cf76de-dc1b-11e7-8810-b306cddc8efb.png)

[2017-12-08 11:40] allienworks commented on #468
I've done the change from full-width "amount input & select" to smaller ones.

My reasoning was that the select looks really bad when large like that (+ don't forget that it doesn't really do anything now, because there's just one option).

Regarding the input - it's also very redundant to have it so large, when even if you'd send all the PARTs in existence (with all the 8 decimal places), it woul

[2017-12-08 12:32] gerlofvanek commented on #468
@EagleEye25 Thanks!
@allienworks Agreed!,

Fix we can keep for now is the bottom border line under PART @ drop-drown. And because @allienworks will be doing Send page redesign, lets get it back in the current state (from full-width "amount input & select" to smaller ones.)

[2017-12-08 12:34] anandsinghparihar commented on #485
I restored my wallet

Pass: test123
title paddle oblige random orange vanish happy gloom cradle monkey weather garage bottom disease toward require tiny capable build scare else approve feel laugh

after successfully restore wallet, I just setup wallet encryption key but its not set. please check this console log : https://gist.github.com/anandsinghparihar/bcc92018f2cc50bd02d47ca8e07fd91e

![scree

[2017-12-08 12:37] rynomster commented on #467
Issue still exists. We can close this once the PR is merged

[2017-12-08 16:03] vikas-cis commented on #484
@pciavald I have added daemon error messages on the left side menu and get rid of the ugly modals. Please have a look and let me know

Thanks

[2017-12-08 17:42] LiteBit opened #488 "Notifications for new wallet updates available"
# Users don't know if Particl Wallet has been upgraded without checking Github

Once a user downloads Particl Wallet they should no longer need to ever go to Github to get another version.
* "Upgrade to latest Particl Wallet v.### available"
-- 2 buttons for choices (**upgrade now**) (**remind me later**)

The wallet is coded to automatically grab the latest daemon release. The same convenience ne

[2017-12-08 18:51] LiteBit opened #489 "Add "Warning message" to Particl Wallet for important messages"
# Users don't have any warning if their wallet app is compromised by code issues without going to Github to find out

Shortly after Particl Wallet 1.0.0 was released a vulnerability was found in the Mac build of the wallet. @particldev tweeted that a vulnerability was found with OSX but no follow up was ever made. Or explaination.

@kewde made a quick fix and added it as pre-release, but nothing e

[2017-12-11 17:42] allienworks commented on #489
So this is pretty much the same as https://github.com/particl/partgui/issues/488, right? If there would be a notification for any new releases (stable & bugfixes etc.), that would be enough.

Because I think that due to security vulnerabilities, we decided not to connect the client to any external points (like we had a RSS from blog before), so sending "customized" messages based on what's current

[2017-12-12 16:40] #489 closed

[2017-12-12 23:57] #338 closed

[2017-12-12 23:57] #321 closed

[2017-12-12 23:58] #458 closed

[2017-12-13 00:29] #468 closed

[2017-12-13 02:27] pciavald commented on #484
should be fixed

[2017-12-13 02:27] #484 closed

[2017-12-13 13:11] anandsinghparihar commented on #328
PR: https://github.com/particl/partgui/pull/460

[2017-12-13 13:11] #328 closed

[2017-12-13 14:23] allienworks opened #496 "Narrations disappeared"
Narrations were already done and working, merged to `develop` (https://github.com/particl/partgui/pull/357). Now on `dev` (and even on `restructure`), the narrations aren't working anymore.

I've checked if the changes from https://github.com/particl/partgui/pull/357 are included and yes, they are there. Probably some logic changed during restructure and that might broke it.

So we need the narrat

[2017-12-13 14:37] anandsinghparihar opened #497 "Restart Demon time is too slow"
Can we optimize demon restart time, after setup encryption key demon is restarted and it slow can we optimize restarting time as it was working fine in master?

[2017-12-13 14:38] anandsinghparihar commented on #497
here is my console log: https://gist.github.com/anandsinghparihar/37e9aeb7f1af05211ff391ec3781ec28

[2017-12-13 15:46] anandsinghparihar opened #498 "Failed to open new connection, already connected"
If we created wallet without setup encryption key wallet is created successfully without encryption checks because initially wallet is unlocked.

and then if user setup encryption key then it's by default redirect to create wallet step which is already done. and its again restart demon failed.

could you please clear following points
1. Is create/restore wallet can be done without encryption key c

[2017-12-13 17:49] pciavald opened #499 "transactions flash every 30s"
The transaction service fetches for new transactions every 30s on top of fetching the transactions when tx count has changed. Is it necessary ?

This interval update causes Material to reload the list and displaying an adjustment animation from left to right.

https://github.com/particl/partgui/blob/dev/src/app/wallet/wallet/shared/transaction.service.ts#L54

[2017-12-13 19:53] pciavald commented on #499
It also closes opened transactions

[2017-12-13 20:02] pciavald commented on #411
maybe fixed, waiting for #496

[2017-12-13 20:09] pciavald commented on #386
@cryptoguard is it still true on the latest `dev` branch ?

[2017-12-13 20:10] pciavald commented on #376
@HenkSwardt @gerlofvanek @anandsinghparihar does this issue still exist ?

[2017-12-13 20:11] pciavald commented on #351
@HenkSwardt @anandsinghparihar is this still an issue ?

[2017-12-13 20:23] pciavald commented on #355
This task is in its minimum state and IMO should be enhanced.

[2017-12-13 20:24] #355 closed

[2017-12-14 06:57] cryptoguard commented on #386
I will test this hopefully tomorrow and let you know!

[2017-12-14 10:14] vikas-cis commented on #467
Issue still exists on dev and I guess #455 has been merged in dev
ThreadRPCServer incorrect password attempt from 127.0.0.1:52.329
Windows 7

[2017-12-14 10:27] anandsinghparihar commented on #349
new PR : https://github.com/particl/partgui/pull/510

[2017-12-14 10:27] #349 closed

[2017-12-15 11:35] vikas-cis commented on #485
#511

[2017-12-15 11:35] HenkSwardt opened #512 "Locking wallet stops Cold Staking activation"
Cold Staking and Locked Wallet

If Cold Staking is enabled and the wallet is "locked" the cold staking "activation" process stops.

Therefore if the Cold Staking Activation % is < 100% and Wallet = locked, the Cold Staking widget should advise the user "to unlock the wallet for staking to continue the Cold Staking Activation"

[2017-12-15 11:36] HenkSwardt commented on #512
@EagleEye25 will have a look at this for us.

[2017-12-15 11:41] HenkSwardt opened #513 "smart ZAP"
ZAP Functionality.

This needs to cover a few different scenarios, so likely needs more planning before jumping into it.

a. User wants to quickly activate Cold Staking
b. User has balance < 1000 PART
c. User is at 90%+ Activation and now the last % are taking a long time.

a.
User wants to quickly activate Cold Staking (does not care so much about privacy loss at this stage)
In this case the wall

[2017-12-15 13:15] HenkSwardt commented on #499
@kewde Can you please have a look at this for us. I believe you assisted with this in the past.

Thanks

[2017-12-15 14:27] kapsr opened #515 "Move Daemon client/GUI version to "About" or info symbol in top bar (suggestion)"
To keep the design of the GUI as clean as possible, maybe its best to move the Daemon client version and GUI version text to some place where its hidden. You could make an info button next to the cold staking/peers buttons for example.

You could also implement a similar menu with an "About" option as SLACK has where additional info can be accessed, such as a link to Particl WIKI/Github et cetera.

[2017-12-15 18:52] pciavald commented on #496
@anandsinghparihar is there a PR for that ? I thought you were done with it except for internal_transfers, and I need it to test the search functionnality in the filters.

[2017-12-16 04:51] cryptoguard commented on #386
I'm running into some issues compiling the latest dev branch. I've messaged you on Riot.

[2017-12-16 06:46] Jumanjii opened #517 "Can't find mac client"
Hi,

I can't find the mac build in your release :-s
You write particl-1.0.0-mac.zip in the shasum list but don't link the file.

Am I missing something ?

[2017-12-16 08:13] anandsinghparihar commented on #496
@pciavald Yes this task is in progress when I done I'll share PR here

[2017-12-16 13:19] anandsinghparihar opened #518 "Radio button is not disable in balance transfer"
In dev branch, there is not a restriction on balance transfer.
![desktop screenshot 2](https://user-images.githubusercontent.com/17725557/34070754-d12d6430-e291-11e7-8e3b-40c04cbb628d.png)

[2017-12-16 13:33] kapsr opened #519 "Send payment/balance transfer - Icon for deleting recipient address matches close window icon"
![34070754-d12d6430-e291-11e7-8e3b-40c04cbb628d](https://user-images.githubusercontent.com/32437236/34070896-8bde9e90-e26d-11e7-9544-87222d4e7848.png)

I think you would want to use a different icon here than the icon used now which is also used for closing windows in the GUI. Rather use a black colored bin for example.

![54758](https://user-images.githubusercontent.com/32437236/34070918-febb2d66

[2017-12-16 21:59] ioworm commented on #517
https://github.com/particl/partgui/releases/tag/v1.1.0

[2017-12-16 23:07] Jumanjii commented on #517
Thanks

[2017-12-16 23:07] #517 closed

[2017-12-18 07:43] EagleEye25 commented on #392
This is still broken. I don't have the ability to reopen.

[2017-12-18 09:09] anandsinghparihar commented on #496
PR: https://github.com/particl/partgui/pull/520

[2017-12-18 09:09] #496 closed

[2017-12-18 09:10] anandsinghparihar commented on #518
PR: https://github.com/particl/partgui/pull/510

[2017-12-18 09:10] #518 closed

[2017-12-18 09:14] EagleEye25 commented on #512
implemented changes https://github.com/particl/partgui/pull/521

[2017-12-18 09:33] HenkSwardt commented on #392
@EagleEye25 I have tested this on my side and the wallet launch fine every time. I'm on Windows 10.

[2017-12-18 10:15] vikas-cis commented on #498
#511

[2017-12-18 10:32] HenkSwardt commented on #392
Following a discussion, it seems that the blank GUI launches when using the following command to start the DEV GUI.

npm run start:electron:dev -- -testnet

This is used to launch the GUI with Angular running in DEV/Watch mode.

[2017-12-18 10:37] rynomster commented on #392
yes, a blank gui starts because it is dev mode.. it expects you to be running the gui in watch mode... Please don't confuse the issue.. Running the GUI in DEV mode is explained in the README...

This issue is specific to the daemon startup logic which doesn't seem to be able to tell if a .cookie file has changed, but it works on master.

[2017-12-18 10:58] HenkSwardt commented on #392
Above comment from @rynomster relates to a comment I added that was a bit confusing and was deleted as Ryno added his. Please note that that valid issue relates to last sentence added in above comment.

"This issue is specific to the daemon startup logic which doesn't seem to be able to tell if a .cookie file has changed, but it works on master."

[2017-12-18 11:20] anandsinghparihar commented on #497
@pciavald  meanwhile Can we add loader here while the demon is restarted?

[2017-12-18 11:23] anandsinghparihar commented on #498
fixed in this PR: https://github.com/particl/partgui/pull/511#pullrequestreview-84102186

[2017-12-18 11:23] #498 closed

[2017-12-18 11:26] anandsinghparihar commented on #485
I've test restart demon issue has been fixed in this PR: https://github.com/particl/partgui/pull/511#pullrequestreview-84102186

Other things maybe I need to discuss with @HenkSwardt, what is password change?

[2017-12-18 11:37] HenkSwardt commented on #485
Hi @anandsinghparihar

In this scenario, it is when entering a different password to the one you were suppose to. That over writes the original one for some reason and wants to make use of it for future.

[2017-12-18 13:51] anandsinghparihar opened #522 "Add loading icon after setup encryption password"
In dev branch: while we setup encryption password, its restarted demon. Restart demon time is too much (may it will reduce in next release ) so I'd like to suggest we can add a loading icon while the demon is restarted.

[2017-12-18 14:42] anandsinghparihar commented on #485
all working fine : https://github.com/particl/partgui/pull/511#pullrequestreview-84102186

[2017-12-18 14:42] #485 closed

[2017-12-19 08:07] anandsinghparihar commented on #411
PR: #520

[2017-12-19 08:26] anandsinghparihar commented on #411
@pciavald could you please check API endpoints why narration text not returns if we did balance transfer

[2017-12-19 09:03] HenkSwardt opened #524 "Password Validations and Acknowledgement step in Create Wallet."
We highlighted a possible loophole where if one enters their Passphrase or Password during wallet creation and unknowingly miss-typed a character we have no way of validating this at the moment.

Can we add a confirmation step after every "Create Password" step in the flow. This will allow a user to type in the password a second time and assist with finger troubles.

We also need to highlight the

[2017-12-19 09:06] HenkSwardt commented on #524
@EagleEye25 will be looking into this for us.

Please consult with @dasource for review.

[2017-12-19 12:27] EagleEye25 opened #527 "Fill in missings words bug"
# Describe bug/issue
Once the user has click next until the fill in words phase on create wallet, and then suddenly decides to go back to the set optional password phase "step 2" then wants to proceed by clicking next, this bypasses the regeneration of 24 words, and takes the user straight to the fill words screen, with all the words being filled already, without the user having to fill them.
..
#

[2017-12-19 12:28] anandsinghparihar commented on #522
PR: https://github.com/particl/partgui/pull/526

[2017-12-19 12:28] #522 closed

[2017-12-19 13:17] EagleEye25 commented on #527
also, when entering without a password, instead of showing the intially 24 generated words, takes you to the fill in words page, without having to fill in the words.

[2017-12-19 13:18] EagleEye25 commented on #527
![ss 2017-12-19 at 03 18 28](https://user-images.githubusercontent.com/28861857/34158897-ebbadd24-e4cf-11e7-9840-9a52b1a7bd14.png)
![ss 2017-12-19 at 03 18 36](https://user-images.githubusercontent.com/28861857/34158898-ec79020e-e4cf-11e7-8425-2a748668e30f.png)

[2017-12-19 17:19] allienworks opened #529 "Address book - paginator bug"
_(current `dev` branch)_

In Address book, selecting more items per page is not working. Always stays at 5 displayed items per page, even if you select 20.

Might be related to https://github.com/particl/partgui/pull/460 or restructure?

[2017-12-20 04:24] pciavald commented on #305
had this again :(

[code]

[2017-12-20 08:04] HenkSwardt commented on #524
https://github.com/particl/partgui/pull/528

[2017-12-20 12:23] anandsinghparihar commented on #529
PR: https://github.com/particl/partgui/pull/533

[2017-12-20 12:23] #529 closed

[2017-12-21 10:15] EagleEye25 commented on #527
seems to be working fine on current dev branch

[2017-12-21 10:15] vikas-cis commented on #527
@HenkSwardt as discussed with @EagleEye25 dev is working fine :)

[2017-12-21 10:32] EagleEye25 commented on #527
was happening because of changed made in https://github.com/particl/partgui/pull/528 but have been fixed now, and working perfectly
this can be closed.

[2017-12-21 10:32] #527 closed

[2017-12-21 15:20] allienworks opened #537 "Can't add new addresses to Address book"
_(current `dev` branch)_

It's impossible to add new addresses to Address book. The button for saving the address stays disabled even if valid address is entered.

![](https://i.imgur.com/kCAqWIc.png)

[2017-12-21 16:05] #537 closed

[2017-12-21 21:35] AllienWorks opened #540 "Help/Support page needed"
As I was introducing the wallet to a few newcomers (even newcomers to all crypto), their all questions made me think that we don't really explain much of the features included in the wallet.

The questions were along the topics of:
- why do I have multiple balances and what's the difference there?
- why there are multiple "levels" of unlocking the wallet?
- etc.

This is all written on the wiki fo

[2017-12-22 07:20] anandsinghparihar commented on #376
@pciavaldI cant see it in Linux since its mac issue @gerlofvanek is checking it

[2017-12-22 09:59] vikas-cis opened #543 "No need of Package-lock.json file"
I am getting
Cannot find module 'webpack/lib/node/NodeTemplatePlugin'
this error
when running fresh npm install
and when I removed the lock file then it goes
I think it doesn't require to have this as it create based on your systems.

[2017-12-22 13:47] pciavald commented on #467
duplicate of #392

[2017-12-22 13:47] #467 closed

[2017-12-22 13:50] #351 closed

[2017-12-22 13:51] pciavald commented on #353
is this complete already @gerlofvanek ? Or is there something missing ?

[2017-12-22 13:55] pciavald commented on #392
@rynomster @vikas-cis is that fixed ? I believe so

[2017-12-22 14:01] #353 closed

[2017-12-22 14:01] #376 closed

[2017-12-22 14:36] #543 closed

[2017-12-22 14:57] #392 closed

[2017-12-22 20:40] pciavald opened #546 "GFX problems in create wallet modal"
to reproduce : delete wallet.dat and launch

- button has a grey square
- icons are off
- loading bar at bottom (should be removed ?) has rounded sides

![screenshot_20171222_213727](https://user-images.githubusercontent.com/3384097/34311912-cdc873b0-e760-11e7-9c63-b3a406a9426e.png)

![screenshot_20171222_213904](https://user-images.githubusercontent.com/3384097/34311875-9a89fa64-e760-11e7-9eb5-f2

[2017-12-22 21:05] pciavald opened #547 "GFX problem in cold staking setup modal"
![peek 22-12-2017 22-01](https://user-images.githubusercontent.com/3384097/34312418-533fc5f4-e764-11e7-86b7-89a956c1c13a.gif)

[2017-12-22 23:21] pciavald opened #548 "input fields crop text"
![screenshot_20171223_002015](https://user-images.githubusercontent.com/3384097/34314729-272f54d0-e777-11e7-8691-2927b5c245e3.png)

[2017-12-23 00:11] #416 closed

[2017-12-25 09:35] vikas-cis opened #550 "unnecessary loader coming on the left side menu in sync progress bar"
![screen shot 2017-12-25 at 3 01 04 pm](https://user-images.githubusercontent.com/20254889/34337401-04d2dea6-e985-11e7-8108-4abdb55d9f82.png)

[2017-12-25 09:45] vikas-cis commented on #550
I think it should be fix in #526

[2017-12-25 09:45] #550 closed

[2017-12-25 09:49] vikas-cis commented on #547
@pciavald I have tested the stuff over OSX and also in @anandsinghparihar (linux ubuntu) machine, seems working fine for both of us,  Can you tell us which machine have you tested this ?
Thanks

[2017-12-25 09:51] vikas-cis opened #551 "Unlock Modal sometimes misaligned"
![screen shot 2017-12-25 at 3 20 46 pm](https://user-images.githubusercontent.com/20254889/34337655-41ac882a-e987-11e7-833f-d2f2eb5d8c78.png)

[2017-12-25 10:42] vikas-cis commented on #546
yeah I have also tested the stuff and seems the content moving left as well.
![screen shot 2017-12-25 at 4 11 19 pm](https://user-images.githubusercontent.com/20254889/34338395-53ddc318-e98e-11e7-900a-75ecbf4637b0.png)

[2017-12-25 11:26] vikas-cis commented on #547
@pciavald after deep checking I got the below scenario
1)Delete the wallet.dat
2)Restart process
3)Click on Cold Staking node and then I saw the issue that mention above

[2017-12-26 09:06] anandsinghparihar opened #553 "Multi Modal open after setup encryption key"
After setup encryption key multiple modals is open. (if no wallet created).

[2017-12-26 11:22] anandsinghparihar commented on #553
PR : https://github.com/particl/partgui/pull/526

[2017-12-26 11:22] #553 closed

[2017-12-27 14:32] pciavald commented on #344
moving to PR

[2017-12-27 14:32] #344 closed

[2017-12-27 15:50] pciavald commented on #547
@vikas-cis
![screenshot_20171227_164937](https://user-images.githubusercontent.com/3384097/34385882-152af7be-eb26-11e7-8b17-ece1568b07fb.png)

[2017-12-28 09:48] anandsinghparihar opened #556 "Remove unused components."
Righ now we have lots of unusable components which are no more used correctly, and if that component is no more used so we should remove it.
following component: **`grid.component, TableComponent, accordion`** all component etc..

-  Remove unused component (which also not use in feature. )
-  Set return types of all function
-  if no return type then set void
-  Remove unused includes file
-  Rem

[2017-12-28 09:49] vikas-cis opened #557 "Alignment issue"
![screen shot 2017-12-28 at 3 12 22 pm](https://user-images.githubusercontent.com/20254889/34407059-69a2a0dc-ebe2-11e7-9be0-1b8b2ee99c75.png)

[2017-12-28 10:07] anandsinghparihar commented on #557
@vikas-cis I can see button icon is not correct. (New public address, + icon)

[2017-12-28 11:26] anandsinghparihar commented on #419
Fixed in this PR :  https://github.com/particl/partgui/pull/545

[2017-12-28 11:26] #419 closed

[2017-12-29 10:37] vikas-cis opened #560 "Pagination per page not update while we search (All pages search option Receive/Addressbook)"
How to Reproduce:
1)When you are on address book page, Initially you are on first page and you do the search and get the results correctly.
2)But when you move to second page and try to search result for the same page or previous page result it will not give you any result.

![screen shot 2017-12-29 at 4 03 18 pm](https://user-images.githubusercontent.com/20254889/34435226-f65ec06c-ecb1-11e7-81d9-

[2017-12-29 12:29] kewde commented on #556
#558

[2017-12-29 12:29] #556 closed

[2018-01-02 08:38] vikas-cis commented on #547
@pciavald yes I have mention this things are doing almost all the modals #546

[2018-01-02 15:30] anandsinghparihar commented on #512
PR: https://github.com/particl/partgui/pull/521

[2018-01-02 15:30] #512 closed

[2018-01-02 15:34] anandsinghparihar commented on #524
PR: https://github.com/particl/partgui/pull/528

[2018-01-02 15:34] #524 closed

[2018-01-02 16:06] anandsinghparihar commented on #557
PR: https://github.com/particl/partgui/issues/557

[2018-01-02 16:06] #557 closed

[2018-01-02 16:07] anandsinghparihar commented on #560
PR: https://github.com/particl/partgui/pull/561

[2018-01-02 16:07] #560 closed

[2018-01-02 16:11] anandsinghparihar commented on #469
PR: https://github.com/particl/partgui/pull/470

[2018-01-02 16:11] #469 closed

[2018-01-02 17:42] #546 closed

[2018-01-03 09:36] HenkSwardt opened #567 "Unlock modal auto close"
When trying to unlock my wallet the modal close automatically before I can enter my password, on average it takes about 3 seconds to close.

This can be replicated by launching the unlock modal and waiting a few seconds.

Operating System: Windows 10 64-bit Dev GUI on Testnet.
Client: 1.1.0
Daemon: 0.15.1.1

[2018-01-03 10:00] HenkSwardt commented on #567
Additional note, after restarting the GUI, the password modal now stays open, Will have to see if I can replicate the issue again.

[2018-01-03 10:06] HenkSwardt commented on #386
@pciavald : I have just experienced this issue again now while testing the GUI on TestNet. Unfortunately, I did not launch with "printconsole" Will relaunch and test again.

[2018-01-03 11:07] pciavald opened #568 "add fiat estimations"
It would be very convenient (and almost mandatory when we launch the marketplace) to have a fiat estimate of PART amounts in the wallets.

I would see it fit :
- in the Overview header
- in the Send balances and amounts
- in each transaction (transaction-table component)

CoinMarketCap is the price provider that would make the more sense, do we want to use something else ?

[2018-01-03 11:37] allienworks commented on #547
I've just tried to check this on https://github.com/particl/partgui/pull/526/ branch (which is latest `dev` + some more tweaks) and the issue seems to be resolved there. Let's see after merge.

[2018-01-03 15:27] anandsinghparihar opened #569 "Wallet shows created but its not"
Initially, when I don't have any new wallet I just creating it in middle of step I just a closed demon and restarted it again, I didn't complete all steps but now I can see wallet has already created so my question is that is that inflow (I guess no).

this is something which is managed by API or let me know how can I restrict front end. because if some user closes demon while creating it they can

[2018-01-03 15:31] anandsinghparihar opened #570 "Display a confirmation when leaving a page/or close demon with unsaved form data"
My Suggestion is we should add confirmation when leaving a page/or close demon with unsaved form data.

[2018-01-03 16:09] anandsinghparihar commented on #569
as per discussion with @rynomster he said:
 `if the wallet has been encrypted already.. there is no way to tell if a wallet exists if it is already encrypted`

[2018-01-03 16:09] #569 closed

[2018-01-03 16:10] anandsinghparihar commented on #570
No need at the moment!!

[2018-01-03 16:10] #570 closed

[2018-01-03 16:19] pciavald commented on #569
yeah that's beyond what we can do, just hope the user has saved his key or will recreate the wallet.

[2018-01-03 16:38] pciavald commented on #567
#563 fixes it

[2018-01-03 16:38] #567 closed

[2018-01-03 16:41] pciavald commented on #551
should be fixed by #521 reopen if not

[2018-01-03 16:41] #551 closed

[2018-01-03 16:41] #547 closed

[2018-01-03 16:42] pciavald commented on #499
#563

[2018-01-03 16:42] #499 closed

[2018-01-03 16:45] pciavald commented on #568
@rynomster what do you think ?

[2018-01-03 16:47] pciavald commented on #414
I think it's a bit heavy for 1.2 actually... we should speed up releases.

[2018-01-03 16:57] allienworks commented on #515
I don't personally think we should hide it. If it would be hidden, users will not know that they're running outdated version.. Of cource, that will become obsolete when the wallet auto-update is implemented.

[2018-01-03 17:18] allienworks commented on #548
_note to self:_

`theme.scss:223` add this to `.mat-form-field`:
[code]
This should fix it. I've encountered this before, seems like Material is specifically built for Roboto font and other different fonts break it up.

[2018-01-04 07:49] HenkSwardt opened #581 "Disable wallet while no RPC connection is active"
We need to look at disabling the wallet while no RPC connection is active. As discussed before, if the user is not aware of the fact that the connection has been lost, they might still want to do transactions but nothing will do on the back end.

The suggestion to prevent anything from being done until it re-establishes connection is to grey out the GUI in the case where connection is lost and inf

[2018-01-04 09:08] HenkSwardt opened #582 "Finalize GUI Settings page"
We need to wrap up the development on the GUI Settings page. Please can we discuss and finalize specification on this issue.

See below screen of design.

![particl_wallet_settings](https://user-images.githubusercontent.com/28799964/34556584-8aefe486-f13f-11e7-8383-98db17094a01.jpg)

[2018-01-04 10:07] HenkSwardt opened #583 "History Tab labels to be in past tense"
Please can we change the history page tab labels to reflect past tense.

![image](https://user-images.githubusercontent.com/28799964/34558688-bc8cd64a-f147-11e7-8666-1406bfda708d.png)

Send - Sent
Receive - Received
Stake - Staked
Balance Transfer - Balances Transferred

[2018-01-04 10:44] pciavald commented on #583
@HenkSwardt when we've made these terms with @allienworks we chose that in order not to confuse the savvy guys who will use the console and the filtertransaction API.
I personnaly always get mixed up with past tenses and plurals in arguments, so we've put the tabs with the same name than the arguments to try not to mix people up. What do you think ? More user friendly or more coherent ? @rynomster

[2018-01-04 10:48] pciavald commented on #581
This will be done for 1.2 with the new IPC interaction / multiwallet / new modal flow.
However we can already change the error messages for 1.1 @HenkSwardt @anandsinghparihar

[2018-01-04 10:53] allienworks commented on #583
My opinion was that we should have it in past tense (Received, Sent..) because it's natural and it makes more sense.

I understand your reasoning @pciavald, but IMO those savvy users who use console won't really use/depend on this GUI. In other words the majority of the users using this will be rather newbies IMO.

Related to this, I think it's really important to discuss and decide the big pictur

[2018-01-04 11:01] pciavald commented on #386
I had it tonight too but it's not clear from the logs what happened.. I'm a bit lost on this one, I have no clue what could be causing this. @kewde help !

[2018-01-04 11:13] pciavald commented on #583
My position on this question would be that it's designed for newbies and usable by savvies. Regarding this it would make sense to have the design in past tense and for instance console available in the GUI (#470).

[2018-01-04 13:40] anandsinghparihar commented on #583
PR: https://github.com/particl/partgui/pull/585

[2018-01-04 13:40] #583 closed

[2018-01-04 14:18] HenkSwardt opened #586 "Manual wallet update to latest version"
We have #488 logged to allow for automatically updating wallet to the latest version.  We aim to add this feature in our 1.2 version.

For now can we please add a link at the bottom where we show the wallet version to indicate when a new version is available. This link should then take you to the download page allowing you to manually update the GUI.

[2018-01-04 14:21] pciavald commented on #586
![screenshot_20180104_152058](https://user-images.githubusercontent.com/3384097/34567517-e5008eee-f162-11e7-94d6-e69502304228.png)

[2018-01-04 15:14] HenkSwardt opened #587 "Wallet auto-lock delay increased to 5 mins"
When the wallet is unlocked we automatically lock it after 30 seconds. This is a security feature to ensure your wallet is not left unlocked and unattended. Please change this delay time to 5 mins (300 sec).

[2018-01-04 15:16] dasource commented on #587
Please also add a notification on auto lock so the user knows. (bottom left)

[2018-01-04 15:48] allienworks commented on #583
Wouldn't be "Balance Transfers" better? I don't think that everything has to be in past tense, here it doesn't make that much sense IMO.. What do you think?

[2018-01-04 15:56] HenkSwardt commented on #587
Sorry, forgot to add the above, thanks @dasource

Please include a message as follow after the wallet has locked:
"Wallet auto locked"

[2018-01-04 16:19] allienworks commented on #586
Why don't we use https://github.com/particl/partgui/pull/493 when the graphics/code is ready? All we need is implement the functionality there..

[2018-01-04 16:42] #548 closed

[2018-01-04 16:49] AllienWorks opened #588 "Info/warning notifications"
See PR https://github.com/particl/partgui/pull/493
Related issues: #488, #489

![](https://i.imgur.com/fbF0c2a.png)

### PRG TODO

- [ ] connect to backend
- [x] show only when some notifications available

### Use cases

- new client update available
- pushing messages to users ("don't to vote on XX proposal" etc.)
- any other..?

[2018-01-04 16:49] vikas-cis commented on #587
@HenkSwardt do we need timer to show like "Wallet auto locked 4:59 so on" ?

Thanks

[2018-01-04 17:28] anandsinghparihar commented on #586
I got a Github API for getting latest release I'll add it

`curl -i https://api.github.com/repos/particl/partgui/releases/latest`

[2018-01-04 18:02] pciavald commented on #586
moved to #493

[2018-01-04 18:02] #586 closed

[2018-01-04 18:13] pciavald opened #590 "syncing : show last block time as a timeline"
When syncing, currently all information is updated every ~10s.
It would be nice that it is updated in real time and show the last block time as a loader / timeline with months and years since 1st block.

[2018-01-04 18:24] allienworks commented on #582
Is Settings going to be on a separate page or as a part of Console modal (someone mentioned that earlier)?
What will be included in Settings?

I can start working on it as soon as I have the info.

[2018-01-04 18:28] allienworks commented on #568
Absolutely, however I'd love to include more currencies then USD/EUR if possible. For example Coindesk's BPI is using [Open Exchange Rates](https://openexchangerates.org/) to convert prices to other currencies.

[2018-01-04 18:30] pciavald opened #591 "address book cursor not changing on button"
in address book :

![peek 2018-01-04 19-29](https://user-images.githubusercontent.com/3384097/34578545-af5e0578-f185-11e7-91af-e62e2ae021b1.gif)

[2018-01-04 19:01] pciavald opened #592 "history search field searches only address"
In the history tab, text search is only effective on addresses while it should be effective on amount, txid, narration etc.

[2018-01-04 19:41] pciavald opened #593 "automatic updates"
update the particl wallet in one click on the update button instead of manual download

[2018-01-04 19:43] pciavald commented on #488
this will be implemented for manual download in 1.1.0 (#493) and automatic download and install in 1.2.0 (#593)

[2018-01-04 19:43] #488 closed

[2018-01-04 20:01] pciavald opened #594 "creating a wallet : left "wallet" menu appears twice"
Opening the wallet with no wallet.dat results in poping the create wallet modal. In the sidebar behind, the "Wallet" entry appears twice.

![screenshot_20180104_205741](https://user-images.githubusercontent.com/3384097/34581809-10d06a06-f192-11e7-9477-0cfde9c01031.png)

[2018-01-04 20:08] pciavald commented on #513
*note*
consider scenarii in #521

[2018-01-05 08:10] HenkSwardt commented on #594
@EagleEye25 will have a look at this for us.

[2018-01-05 08:13] HenkSwardt commented on #582
Hi @allienworks

This is currently in the GUI but hidden. I believe it has most of what is needed but was done in Angular2. We will need to convert the page to Material first.

[2018-01-05 08:22] EagleEye25 commented on #594
wallet.dat is created as soon as daemon starts up. This modal shows even when there is a wallet.dat, unless it has been encrypted or a private key exists in the wallet.

[2018-01-05 08:36] EagleEye25 opened #595 "Refactoring password component to allow ony one "view password" checkbox"
# Describe bug/issue
*Currently have two checkboxes for verification of passwords.
*https://github.com/particl/partgui/pull/528#issuecomment-355380296, will have to be refactored in v1.2, to only use on checkbox, to hide and display passwords

[2018-01-05 09:01] EagleEye25 commented on #591
fixed in: https://github.com/particl/partgui/pull/597

[2018-01-05 09:05] HenkSwardt commented on #591
@EagleEye25 resolved this for us is #597

[2018-01-05 09:10] HenkSwardt commented on #594
Issue resolved in #596

[2018-01-05 10:04] HenkSwardt commented on #590
@pciavald can I set this to ver 1.2?

[2018-01-05 10:05] rynomster commented on #590
It used to update as soon as a block came in. Seems like someone broke it
on dev.

On 05 Jan 2018 12:04, "HenkSwardt" <notifications@github.com> wrote:

[2018-01-05 11:45] HenkSwardt commented on #581
Will change the current message for when daemon is not connected to the following.

"Daemon not connected, retrying connection"

[2018-01-05 12:36] #594 closed

[2018-01-05 12:36] #591 closed

[2018-01-05 12:54] anandsinghparihar opened #599 "pagination not working with serch resutls"
pagination is not working with search results list.

[2018-01-05 12:56] HenkSwardt commented on #581
Message update to be more info related than error related. Please see #598

[2018-01-05 16:08] greenkeeper[bot] opened #600 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.5.6** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40types%2Fnode-8.5.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th al

[2018-01-05 16:11] anandsinghparihar commented on #599
PR: https://github.com/particl/partgui/pull/601

[2018-01-05 16:11] #599 closed

[2018-01-05 17:15] allienworks opened #602 "filter public/private addresses in Address book"
This filtering is now available in Address lookup modal, but it might be handy also in the Address book itself.

[2018-01-06 09:04] bb2k16 opened #603 "unable to launch after changing datadir"
# Describe bug/issue

Changing datadir result in crash

# How to reproduce

Describe the steps needed to recreate the bug/issue:

1. create shortcut to Particl Wallet.exe
2. add **-datadir=**_folderpath_
3. launch Wallet from shortcut

![image](https://user-images.githubusercontent.com/22429074/34638296-81ca26a0-f2c0-11e7-8d39-867bece8d51b.png)

# More information

- Operating system and version:

[2018-01-06 09:57] anandsinghparihar opened #604 "Copy flash notification is not display in Address Modal box"
After copied address,  flash message not display in address modal box

[2018-01-06 10:48] anandsinghparihar commented on #604
PR https://github.com/particl/partgui/pull/605

[2018-01-06 10:48] #604 closed

[2018-01-06 11:50] anandsinghparihar commented on #587
PR: https://github.com/particl/partgui/pull/589

[2018-01-06 11:50] #587 closed

[2018-01-06 13:41] anandsinghparihar commented on #592
@pciavald prams proper send from API, i guess API need to be change ?

[2018-01-08 07:06] HenkSwardt commented on #602
@EagleEye25 will have a look at adding this for us.

[2018-01-08 08:44] HenkSwardt commented on #582
@anandsinghparihar will start with the refactoring to Material of the settings page for us. Once this has been completed we will investigate and list all outstanding features on the settings page.

[2018-01-08 12:05] EagleEye25 commented on #602
completed implementation of filteration in https://github.com/particl/partgui/pull/607, allien is just going to do some styling for us then it will be ready for review

[2018-01-08 13:01] #602 closed

[2018-01-08 13:05] anandsinghparihar opened #610 "Add All serach Input with a clear button"
Right now all search input doesn't have a clear button, we need to clear that input by backspace. so I hope we should add clear button.
![input angular material](https://user-images.githubusercontent.com/17725557/34671979-b7802dce-f4a2-11e7-8106-b2a4ffe99e38.png)

[2018-01-08 13:57] HenkSwardt opened #612 "Balance Transfer - Unable to transfer from Blind to Public"
When trying to do a balance transfer from Blind to Public the following error gets raised.

Transaction Failed AddBlindedInputs failed: .

@kewde will be investigating this issue for us.

[2018-01-08 14:02] pciavald opened #613 "connect to remote daemon"
Add a possibility in the GUI to connect to a remote daemon

[2018-01-08 14:10] pciavald opened #614 "lost animation on transaction arrow"
![peek 2018-01-08 15-09](https://user-images.githubusercontent.com/3384097/34674385-fd3433fa-f485-11e7-943a-23bbcffb9237.gif)

[2018-01-08 14:14] anandsinghparihar commented on #610
PR: https://github.com/particl/partgui/pull/611

[2018-01-08 14:14] #610 closed

[2018-01-08 14:17] #412 closed

[2018-01-08 15:06] #600 closed

[2018-01-08 15:23] vikas-cis commented on #595
#617

[2018-01-08 15:23] #595 closed

[2018-01-08 16:14] pciavald commented on #386
@anandsinghparihar i've just clarified this issue.

- start wallet
- unlock for staking only
- wait 5min
- wallet is locked again
- unlock for staking only
- wallet stays unlocked

Can you check why unlocking for staking only sets a timer on 5min just like the full unlock ?

[2018-01-08 16:32] greenkeeper[bot] opened #618 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.5.8** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40types%2Fnode-8.5.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th al

[2018-01-08 17:00] anandsinghparihar commented on #386
@pciavald I'll check it

[2018-01-08 21:04] pciavald opened #620 "cold staking widget state"
# unlock cold staking widget

### case

- start wallet
- unlock **cold staking widget**
- wallet is **fully unlocked**
- widget shows **paused**

![peek 2018-01-08 22-08](https://user-images.githubusercontent.com/3384097/34692526-ca5f6df6-f4c0-11e7-9bfa-01cf4d79b44b.gif)

### expected behaviour

- start wallet
- unlock **cold staking widget**
- wallet is **unlocked for staking**
- widget shows **A

[2018-01-08 21:19] pciavald commented on #620
@HenkSwardt

[2018-01-08 21:36] pciavald opened #621 "automatically zap incoming transactions"
We should provide a way to automagically zap incoming transactions to cold staking.

Example :

- receive 10 PART
- it's not going to stake anytime soon
- zap to cold staking

[2018-01-08 21:39] pciavald commented on #513
zapping functionality was added in #609. Letting this open to consider a more advanced way of doing it.

[2018-01-09 08:57] HenkSwardt commented on #386
@pciavald

I have tested this over the past week and couldn't get my wallet to lock once.Have seen it in the past as well, but no luck over the past week.

Not sure how to trace this one at this stage.

[2018-01-09 09:11] EagleEye25 opened #623 "Daemon seems to "die" on create/restore wallet"
# Describe bug/issue
When creating or restoring a wallet the daemon appears to "die" in the backend resulting in:
![ss 2018-01-09 at 11 03 50](https://user-images.githubusercontent.com/28861857/34713021-93d86bc6-f52d-11e7-8964-6808f1e2c1c3.png)
after pressing next again results in:
![ss 2018-01-09 at 11 05 39](https://user-images.githubusercontent.com/28861857/34713040-a1256996-f52d-11e7-812e-c1fe

[2018-01-09 11:39] anandsinghparihar commented on #386
@pciavald I also tried to reproduce the same issue, but no luck.

[2018-01-09 13:00] allienworks commented on #614
I'm afraid this is not our bug, but rather another quirk of Material's update.
See https://material.angular.io/components/expansion/overview

I vote _not_ to overwrite the default Material stuff in case it would get updated again; we might do way more evil than good. IMO better to use those as they come shipped and build with and around it.

[2018-01-09 14:21] #614 closed

[2018-01-09 17:52] kewde commented on #623
Can you post a log of the output generated by the npm run:electron..?
I think the same happens when encrypting the wallet.
Also when a reindex needs to happens, it seems to kill the daemon.

[2018-01-09 21:56] pciavald opened #625 "wallet quits if gui fails to connect to daemon"
Current logic in main JS quits wallet after a number of tries to connect to the daemon. This is rather abrupt for the user, we should not quit and display an appropriate message, e.g. how to solve.

[2018-01-09 22:06] pciavald opened #626 "app does not quit if daemon was launched before"
current JS logic does not quit electron app after the window was closed if the daemon was running prior to start the gui.

[2018-01-10 07:42] HenkSwardt opened #627 "1 Sat balance in Blind to display 0 Balance"
When you select to transfer all from blind to public, the transaction needs to leave 1 sat behind. This now case the blinded balance on SEND page to display as below:

![image](https://user-images.githubusercontent.com/28799964/34736615-406d6e38-f57c-11e7-8555-4fc69ff01fe5.png)

Please display "0" balance in the case of the above scenario.

[2018-01-10 11:40] HenkSwardt commented on #627
Based on group discussion we had a look at the following:

Because of the way the blinded txns work you can't transfer all to normal part, it needs to leave a change output of at least 1 sat behind. So for now if balance < 0.000001 then we will display "0" balance

[2018-01-10 11:45] HenkSwardt opened #628 "GUI Console window Error: JSON value is not an integer as expected"
When trying to run the "scanchain 0" command using the GUI console window I aam presented with the following error:

JSON value is not an integer as expected

Please have a look at what we need to change to allow for full function use of the GUI console. When running "scanchain 0", the "0" needs to be sent as an integer and not as a string.

[2018-01-10 11:48] kewde commented on #627
Please note that it accumulates, so 2 seperate txns that transfer all coins will leave 2 sats behind (total, because they are 1 sat each).

[2018-01-10 12:34] HenkSwardt commented on #627
Following further discussion we have decided to implement the following for this scenario:

If the blind_balance < 1000 sats display a "?" next to blind balance which on hover says the following as a tooltip:

"It is normal to have a very small balance in Blind even after transferring out everything. This is due to the way CT works and part of the privacy feature."

[2018-01-10 12:49] vikas-cis commented on #628
@HenkSwardt  I had a discussion with kewde and I am creating the list of commands that giving issues on the basis of that it can be fixed in particl-core
Thanks

[2018-01-10 13:03] HenkSwardt commented on #612
This issue has been resolved on Core

[2018-01-10 13:03] #612 closed

[2018-01-10 13:06] vikas-cis commented on #628
@kewde I have gone through all the commands and found below commands which are failing and giving the error "JSON value is not an integer as expected "
getblockhash height
getmempoolancestors txid (verbose)
getmempooldescendants txid (verbose)
getmempoolentry txid
generate nblocks ( maxtries )
generatetoaddress nblocks address (maxtries)
scanchain [fromHeight]

[2018-01-10 14:15] pciavald opened #629 "some transactions do not have an address"
After zaping the balance, reopening the wallet gives an infinite loader with no transaction displayed.

After making 1 transaction, only this transaction appears.

Using `filtertransactions` we can see all transactions so there must be some kind of bug in the GUI that breaks logic after zapping.

[2018-01-10 14:34] anandsinghparihar commented on #620
After entering the cold staking public Key  empty modal is open, So I guess that modal should be close
![cold staking issue](https://user-images.githubusercontent.com/17725557/34777741-4b99ce12-f641-11e7-9393-5ed986ed0a89.png)

[2018-01-10 15:07] pciavald opened #630 "refactor coldstaking"
Cold staking logic is contained in the coldstaking widget and its modals. It should be moved to the coldstaking service in order to make it usable by the settings page / other components

[2018-01-10 15:08] pciavald commented on #620
@anandsinghparihar you're right. Please continue discussion in dedicated PR.

[2018-01-10 15:08] #620 closed

[2018-01-10 15:31] pciavald opened #631 "debug console up arrow"
use up arrow in debug console to grab latest command
may need to implement a command history

[2018-01-10 15:37] pciavald opened #632 "debug console wrong command notification"
currently, debug console refuses to input a wrong command, with no feedback to the user. Insert a flash notification to inform that a wrong command was issued.

[2018-01-10 17:09] vikas-cis opened #633 "Notification issue with fresh wallet and found timer showing negative value"
How to reproduce Notification issue
1)Fresh wallet
2)Send some parts to the fresh wallet address
3)You will notified with a notification
4)When you moved history to receive or vice-versa you will get notification again and again.

Unlocking timer : Shows negative value sometimes while unlocking the wallet.

[2018-01-10 17:10] vikas-cis commented on #633
#634

[2018-01-10 17:10] #633 closed

[2018-01-10 17:11] #627 closed

[2018-01-10 18:12] pciavald opened #635 "decrypt wallet modal sometimes does not auto-close"
It happened to me several times when unlocking the wallet, that the wallet unlocks but the modal stays open.

[2018-01-10 18:15] pciavald commented on #629
zaping the balance results in a transaction that doesn't seem to have any outputs.
https://github.com/particl/partgui/blob/dev/src/app/wallet/wallet/shared/transaction.model.ts#L36
check filtertransactions.

[2018-01-10 18:16] pciavald commented on #629
temporarily fixed in #609

[2018-01-10 18:29] pciavald opened #636 "some narrations are not displayed"
It seems only blockchain-saved narrations are displayed. We need to display in-wallet narrations too.

[2018-01-10 20:07] allienworks commented on #590
Update in real time: absolutely why not.

Show additional info: I wouldn't add anything more into current UI (let's not clutter it just because we can :). We could show more info in the tooltip on hover – ideally something like "block XX/YY" (current/total); currently there's just numerical % progress to 100%.

[2018-01-10 20:21] AllienWorks opened #637 "Display fees when sending TX"
We're currently displaying quite plain modal:

![](https://i.imgur.com/etN1zqB.png)

It's missing quite a lot:

- display TX fee
- total TX amount (sending + fee)
- _nice to have:_ when address in Address book, display it's label
- _nice to have:_ inform about public/private TX type and its implications
- nice styling ;)

I wanted to style it before, but it's all displayed via `{{ dialogContent }}

[2018-01-10 20:32] pciavald commented on #592
@anandsinghparihar can you please comment out the text search field, we'll investigate it for 1.2

[2018-01-10 20:46] allienworks opened #638 "Optional user's memos for TXs"
Besides the narration displayed in TX details, I suggest adding option for user generated notes for TXs.

You might want to tag/describe certain TXs but only privately, for you (think memos). I'd add small link under current narrations with "add a memo", which would add another text field (with ideally larger char limit than 24). This all would be saved locally on device only.

Rough preview:

![]

[2018-01-10 21:05] pciavald commented on #638
it's actually already implemented in the transactions but not displayed in the GUI #636

[2018-01-10 21:06] pciavald commented on #636
[code]

[2018-01-10 21:09] dasource commented on #638
However you cannot add these after the event AFAIK .. they have to be done at time of the TX.

[2018-01-10 21:10] dasource commented on #636
It needs to be implemented on both Send Page and TX View

[2018-01-10 21:13] pciavald commented on #636
@dasource implementing in Send page will probably be done in #638 for 1.2, here we just need to display the comments in TX view

[2018-01-11 09:49] HenkSwardt commented on #635
@EagleEye25 will investigate this one for us.

[2018-01-11 10:02] anandsinghparihar commented on #632
PR: https://github.com/particl/partgui/pull/656

[2018-01-11 10:02] #632 closed

[2018-01-11 16:24] allienworks opened #658 "Sign/verify > Address lookup not working"
Looking up addresses within Sign/verify modal doesn't seem to work = it isn't displaying any addresses (even with full address book).

[2018-01-11 17:40] greenkeeper[bot] opened #659 "An in-range update of electron-log is breaking the build 🚨"
## Version **2.2.14** of [electron-log](https://github.com/megahertz/electron-log) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Felectron-log-2.2.14">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron-log
    </td>
  </tr>
  <tr>
    <th a

[2018-01-11 18:25] greenkeeper[bot] opened #660 "An in-range update of electron-builder is breaking the build 🚨"
## Version **19.53.4** of [electron-builder](https://github.com/electron-userland/electron-builder) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Felectron-builder-19.53.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron-builder
    </td

[2018-01-11 23:12] greenkeeper[bot] opened #661 "An in-range update of @angular/cli is breaking the build 🚨"
## Version **1.6.4** of [@angular/cli](https://github.com/angular/angular-cli) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40angular%2Fcli-1.6.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/cli
    </td>
  </tr>
  <tr>
    <th al

[2018-01-12 10:20] anandsinghparihar commented on #592
@pciavald
filters pram:
`{
      category: 'all',
      type:     'all',
      sort:     'time',
      search:   ''
    }`

if we pass any string in `search`  pram, then it should be checked with all tx record.

[2018-01-12 15:33] pciavald opened #663 "transactions in overview update too slow"
transaction confirmations in overview update at a too slow rate, i had 4 confirmations in block explorer before seeing them in overview

[2018-01-12 16:17] pciavald commented on #636
comment does not appear in response from `filtertransaction`, this will need to wait 1.2

[2018-01-12 18:09] pciavald commented on #663
then we have a bug

[2018-01-12 18:17] pciavald commented on #663
![screenshot_20180112_191507](https://user-images.githubusercontent.com/3384097/34889140-3edd5260-f7cd-11e7-8bf8-d3f0b806a440.png)

[2018-01-12 19:13] greenkeeper[bot] opened #665 "An in-range update of @types/jasmine is breaking the build 🚨"
## Version **2.8.4** of [@types/jasmine](https://www.npmjs.com/package/@types/jasmine) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2F%40types%2Fjasmine-2.8.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jasmine
    </td>
  </tr>
  <tr

[2018-01-12 20:36] pciavald opened #666 "fix circular dependency problem"
we should fix the circular dependency.

[code]

[2018-01-12 20:37] pciavald commented on #666
hahahahhah issue #666 this circular dependency straight from hell

[2018-01-12 21:10] pciavald opened #667 "no error message when rpc connection refused by daemon"
following #598, this comment illustrates the problem :
https://github.com/particl/partgui/pull/598#issuecomment-357354054

[2018-01-12 21:51] pciavald opened #668 "greenkeeper updates wrongly configured"
Green keeper always tries to pull request into master which results in always failing and involving a lot of hand work to trim all unnecessary branches and dealing with the updates manually.

I don't have the rights on the Particl github organisation to change the setting, but I advise we should **change the greenkeeper pull requests target to dev instead of master**.

[2018-01-12 21:57] #618 closed

[2018-01-12 21:57] #659 closed

[2018-01-12 22:07] #660 closed

[2018-01-12 22:07] #661 closed

[2018-01-12 22:07] #665 closed

[2018-01-13 14:06] greenkeeper[bot] opened #671 "An in-range update of got is breaking the build 🚨"
## Version **8.0.2** of [got](https://github.com/sindresorhus/got) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Fgot-8.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      got
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2018-01-14 18:48] greenkeeper[bot] opened #672 "An in-range update of tslint-microsoft-contrib is breaking the build 🚨"
## Version **5.0.2** of [tslint-microsoft-contrib](https://github.com/Microsoft/tslint-microsoft-contrib) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Ftslint-microsoft-contrib-5.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint-micros

[2018-01-15 10:29] EagleEye25 commented on #635
havent been able to reproduce the issue

[2018-01-15 10:52] greenkeeper[bot] opened #673 "An in-range update of electron-builder is breaking the build 🚨"
## Version **19.53.6** of [electron-builder](https://github.com/electron-userland/electron-builder) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/particl/partgui/compare/greenkeeper%2Felectron-builder-19.53.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron-builder
    </td

[2018-01-15 14:59] vikas-cis commented on #663
![screen shot 2018-01-15 at 8 18 03 pm](https://user-images.githubusercontent.com/20254889/34948285-b606b504-fa32-11e7-9f2d-f2beb733b4ba.png)
![screen shot 2018-01-15 at 8 18 11 pm](https://user-images.githubusercontent.com/20254889/34948286-b63a4f22-fa32-11e7-8a52-d2adbab96470.png)
![screen shot 2018-01-15 at 8 18 22 pm](https://user-images.githubusercontent.com/20254889/34948287-b6670602-fa32-11

[2018-01-15 15:11] anandsinghparihar commented on #663
@vikas-cis first check overview page and then check in history then you can see the updates !! new confirmation is not updated!!

[2018-01-15 15:12] vikas-cis commented on #663
@anandsinghparihar yeah it seems sometimes it doesn't work properly. I am still doing some testing and trying to debug it

Thanks

[2018-01-15 16:42] #663 closed

[2018-01-15 22:03] #658 closed

[2018-01-16 09:40] EagleEye25 commented on #635
https://github.com/particl/partgui/pull/675 possible fix? please review and inform me. @pciavald

[2018-01-16 13:50] pciavald commented on #628
args seem to be converted to strings before being sent to RPC ? for instance sending `deriverangekeys 1 1 pkey` returns that ant integer value was expected

[2018-01-16 15:27] allienworks commented on #386
I haven't encountered this lately as well. Seems fixed already.

[2018-01-16 15:29] allienworks commented on #325
Is that really needed? For presentation purposes, running on testnet might be enough.. Or if you want this for creating e.g. some tutorial videos etc., you can always create a new virtual machine and send some change there. I honestly think that the work needed for this isn't worth the outcome when there are many "workarounds".

[2018-01-16 15:59] anandsinghparihar opened #678 "Add new lint config rule and update IDE config for scss and ts file"

[2018-01-16 18:55] pciavald opened #680 "icons not retina friendly"
seen on a retina macbookpro :

<img width="127" alt="capture d ecran 2018-01-16 a 19 50 14" src="https://user-images.githubusercontent.com/3384097/35006536-2203c61a-faf7-11e7-990b-14370efd370e.png">

[2018-01-16 19:05] pciavald opened #681 "mac wallet creation not working"
create wallet fully
wild unclosable blank modal appears
close wallet
open wallet
go to receive page

<img width="1263" alt="capture d ecran 2018-01-16 a 20 03 30" src="https://user-images.githubusercontent.com/3384097/35007025-95c34dcc-faf8-11e7-9425-b29441ed4dc2.png">

[2018-01-16 19:06] pciavald opened #682 "mac wallet icon is electron"
<img width="41" alt="capture d ecran 2018-01-16 a 20 00 24" src="https://user-images.githubusercontent.com/3384097/35006824-eec40098-faf7-11e7-978a-775f46aaae4e.png">

[2018-01-16 19:07] pciavald opened #683 "new wallet / optional pass / no pass not working"
fresh open
encrypt wallet (@kewde should this be possible ? not sure how it influences the bug though)
create wallet
do not enter optional pass
click next
-> not going to next page

[2018-01-16 19:10] allienworks commented on #680
Yes, the first two are bitmaps. We should definitely change that, thanks for pointing it out :)

[2018-01-16 19:12] pciavald commented on #682
only when running from npm

[2018-01-16 19:12] #682 closed

[2018-01-16 19:29] pciavald opened #684 "mac dmg background not set"
<img width="545" alt="capture d ecran 2018-01-16 a 20 11 28" src="https://user-images.githubusercontent.com/3384097/35008176-e652b5fe-fafb-11e7-89ea-6c4b8de8cd18.png">

[2018-01-16 20:29] pciavald opened #685 "unify release names"
npm package commands set is issuing packages with diverse nomenclature.

[2018-01-16 21:01] pciavald opened #686 "windows warning: unknown method flash notification on wallet creation"
when creating a wallet on the windows packaged version, a flash notification appears with the text `unknown method`. Wallet ccreation is not impacted otherwise.

[2018-01-16 21:11] pciavald opened #687 "AVG considers Particl as a threat"
I seen another issue stating that windows antiviruses block Particl wallet.
I just had the issue with AVG.

[2018-01-17 09:15] HenkSwardt commented on #681
@vikas-cis tested the creation of Mac wallet and confirmed that Daemon still not connecting.

[2018-01-17 11:31] EagleEye25 commented on #683
i believe its fixed now: https://github.com/particl/partgui/pull/688

[2018-01-17 13:34] #683 closed

[2018-01-17 14:49] pciavald commented on #681
@HenkSwardt
1. is solved in #690
2. I will do a PR to fix

[2018-01-17 14:59] pciavald commented on #681
2. fixed in #691

[2018-01-17 14:59] #681 closed

[2018-01-17 15:00] pciavald commented on #687
@HenkSwardt who is assigned to this ?

[2018-01-17 15:07] #671 closed

[2018-01-17 15:07] #672 closed

[2018-01-17 15:07] #673 closed

[2018-01-17 15:19] anandsinghparihar commented on #686
@pciavald I can't see wallet is created, after complete all wallet creation step I see a blank modal.

[2018-01-17 15:45] allienworks commented on #680
PR open and ready for review/merge ^

[2018-01-17 15:45] #680 closed

[2018-01-17 16:14] anandsinghparihar opened #694 "Modal design issue in Linux build"
@allienworks I've created a build using latest code and I found following design issue, I guess Vikas is already reported that issue in Mac but the same issue is in Ubuntu as well.
![screenshot from 2018-01-17 21-39-58](https://user-images.githubusercontent.com/17725557/35053228-82223260-fbcf-11e7-882a-5a6b3a74a582.png)
![screenshot from 2018-01-17 21-37-35](https://user-images.githubusercontent.c

[2018-01-17 16:24] allienworks commented on #694
Which "latest code"? I just tried running Particl 1.1.0-RC1 (internal build in releases) and everything is fine.

[2018-01-17 17:35] allienworks commented on #694
@anandsinghparihar I've packaged the latest `dev` code as you suggested to test this issue and I still can't reproduce your problems. I'm using the `tar.gz` version (not the `deb` one as I don't have Ubuntu-based distro), so not sure if that's the reason.

Or it all might be related to the missing `package.lock` that has been removed. I can zip and send you my `node_modules` to try it. It's just w

[2018-01-17 19:26] pciavald opened #704 "app not quitting when daemon started before"
- start daemon
- launch app
- right click app in dock, Quit (mac) or close window
- app does not quit until we manually ctrl-C

[2018-01-18 09:13] vikas-cis commented on #694
![screen shot 2018-01-18 at 2 41 41 pm](https://user-images.githubusercontent.com/20254889/35089724-d415321e-fc5d-11e7-9be2-5ab16490f831.png)
Particl 1.1.0-RC1 (testnet) (internal)

[2018-01-18 14:17] vikas-cis opened #710 "Ctrl+V is not working on mac"
How to Reproduce

1)Initialize the wallet
2)Create wallet
3)Copy all the mnemonics
4)Try to fill vacants mnemonics using Ctrl+V
I have tested in Particl 1.1.0-RC1 (testnet) (internal)
I have also created build from dev and tested, Having same issue

Thanks

[2018-01-18 17:07] allienworks opened #715 "Can't create wallet without Recovery Pass"
- Branch: `release/1.1.0-RC2`
- Commit: 77d57fc8810a3f4c7eb05713c6b293941d86b6ed
- OS: Linux Manjaro (Arch-based)

When creating new wallet, on "Choose a recovery password" page, it's not possible to advance to next step _without_ specifying optional Recovery Password.

If Pass isn't entered, clicking on _Next_ button outputs this to console:
[code]

Preview:

![](https://i.imgur.com/WEQF9Ol.gif)

[2018-01-18 17:32] anandsinghparihar commented on #715
PR: https://github.com/particl/particl-desktop/pull/716

[2018-01-18 17:57] pciavald commented on #710
on mac it's command-V

[2018-01-18 18:00] pciavald commented on #685
fixed

[2018-01-18 18:00] #685 closed

[2018-01-18 18:00] pciavald commented on #668
fixed

[2018-01-18 18:00] #668 closed

[2018-01-18 18:07] pciavald commented on #667
fixed

[2018-01-18 18:07] #667 closed

[2018-01-18 18:07] pciavald commented on #635
fixed

[2018-01-18 18:07] #635 closed

[2018-01-18 18:08] pciavald commented on #626
dupe of #704

[2018-01-18 18:08] #626 closed

[2018-01-18 18:08] pciavald commented on #625
fixed

[2018-01-18 18:08] #625 closed

[2018-01-18 18:09] pciavald commented on #515
closing for now as it's not a priority and there's no consensus about it

[2018-01-18 18:09] #515 closed

[2018-01-18 18:09] pciavald commented on #386
fixed

[2018-01-18 18:09] #386 closed

[2018-01-18 18:10] pciavald commented on #411
dupe of #636

[2018-01-18 18:10] #411 closed

[2018-01-18 18:10] pciavald commented on #318
fixed

[2018-01-18 18:10] #318 closed

[2018-01-18 18:57] pciavald opened #718 "add checksums to the build process"
we should make the `yarn run package:` commands set display the checksums of the files for convenience

[2018-01-19 03:55] Darryl232 opened #720 "Unable to download/setup wallet particl1.0.0"
![part wallet setup error](https://user-images.githubusercontent.com/35587827/35134172-a9fe697e-fca2-11e7-9ba6-4bbc45087209.JPG)

[2018-01-19 04:17] Darryl232 commented on #720
Also, when trying via zip, can't open because ffmpeg.dlll and node.dlll can not be found on my computer...appreciate any help you might be able to providea dn apologies in advance if it is a user error on my part. Thank you - D232

[2018-01-19 05:12] Darryl232 commented on #720
Please disregard, I figured it out - needed to close out CORE before I could successfully run 1.0.0. Thank you -

[2018-01-19 05:12] #720 closed

[2018-01-19 10:57] anandsinghparihar opened #721 "Rename Branch name dev to develop"

[2018-01-19 11:14] anandsinghparihar opened #722 "Daemon not able to figure out if wallet exists or not"
# Issue with fresh wallet

- Created new wallet
- Enabled encryption
- Create New wallet modal again open.

# Issue with existing wallet

-  Add new wallet modal display
-  Add new wallet button display

[2018-01-19 11:31] bb2k16 opened #723 "Titlebar needs to change to Particl Desktop from Particl Wallet"
# Describe bug/issue

Title bar still yet to be update to reflect the new version.

# More information

- Operating system and version: Win 10 x64
- Client version: 1.1.0-RC2

[2018-01-19 11:50] pciavald commented on #722
it seems #691 broke it, but it was a fix for another issue.
We need to use `getwalletinfo` instead of `extkey list`, lets find out what is wrong with it currently

[2018-01-19 12:40] pciavald commented on #722
#724

[2018-01-19 12:40] #722 closed

[2018-01-19 13:10] pciavald commented on #715
## this issue is still present

![peek 2018-01-19 14-08](https://user-images.githubusercontent.com/3384097/35152371-77e49e24-fd22-11e7-828f-a95518ba69b8.gif)

[2018-01-19 13:10] pciavald commented on #715
@EagleEye25

[2018-01-19 13:39] EagleEye25 commented on #715
fixed. https://github.com/particl/particl-desktop/pull/726
![fix](https://user-images.githubusercontent.com/28861857/35153364-ef778d28-fd2e-11e7-841c-1302b4def940.gif)

[2018-01-19 13:43] vikas-cis commented on #715
#716 It was already fixed here I guess ?

[2018-01-19 16:05] pciavald commented on #710
I tried to paste a word in the vacant mnemonics on mac using `command+v` and I confirm it does not work.

[2018-01-19 16:06] #715 closed

[2018-01-19 16:26] pciavald opened #727 "wallet crashed when receiving part"
we were doing a test with @vikas-cis and he sent me 2 tPART, when I received it I seen the notification and the wallet crashed right away with this output on the terminal console :

[code]

After restarting the wallet, daemon was still running from the previous session, so the crash is from the GUI, not the daemon.

[2018-01-19 16:37] vikas-cis opened #728 "addStandardInputs : signing transaction failed when sending PART"
I am trying to send payment to @pciavald  and doing testing and found this strange thing
![screen shot 2018-01-19 at 10 02 37 pm](https://user-images.githubusercontent.com/20254889/35161055-06f2c144-fd65-11e7-998b-a4a2cf068eaa.png)

[2018-01-19 17:01] vikas-cis commented on #727
I never seen wallet crash on notification.

[2018-01-19 17:05] pciavald commented on #727
maybe a track to fix the issue by @kewde : https://github.com/electron/electron/issues/7490

[2018-01-20 05:43] bb2k16 opened #729 "Balance transfer success pop up msg not enough blackbox"
![image](https://user-images.githubusercontent.com/22429074/35180256-a13a3aa4-fda4-11e7-86de-e069bf300b7e.png)

# Describe bug/issue

Please see above screenshot

[2018-01-20 08:40] vikas-cis commented on #727
@pciavald I think the best https://github.com/electron/electron/issues/10527 is here 👍

[2018-01-20 09:15] bb2k16 opened #730 "Wallet unlock modal size inconsistent"
![image](https://user-images.githubusercontent.com/22429074/35181873-43b09c16-fdc2-11e7-9b13-3263511fe517.png)

The wallet unlock modal is exceptionally large compare to other modal.

Suggestion:
Make it smaller so it is consistent with others.

[2018-01-20 16:34] bb2k16 opened #733 "rename "save address" button"
![image](https://user-images.githubusercontent.com/22429074/35185615-8b53ed74-fdff-11e7-80b8-59a1d7428398.png)

Suggestion:

better to rename the button text to "+ NEW ADDRESS"?

[2018-01-20 16:46] anandsinghparihar opened #734 "Sign/Verify Refactoring and Enhancement"
**In Sign Verify Modal**

- Send Message: Address lookup modal display private address not public and I guess we need to display public address in sign message > address lookup, so addresses lookup modal should be refactored. also after signed address user got a signature key, so there is no copy icon for copy option.(copy icon should be added here)

- Verify Message: Its work fine, address lookup

[2018-01-20 17:14] anandsinghparihar opened #735 "Update Git Release URL"
For checking new update API calls every time on git repository after changing git repo URL it will not work so that should be updated if repository updated.

[2018-01-20 17:32] anandsinghparihar commented on #735
PR https://github.com/particl/particl-desktop/pull/736

[2018-01-20 17:32] #735 closed

[2018-01-22 08:46] EagleEye25 opened #737 "updating of state service .observe()"
updating of the state service. observe() to fix memory leaks
as done by @kewde in https://github.com/particl/particl-desktop/commit/74f17a324e79e9def75e0c73c6c48b6d184ee003

[2018-01-22 12:43] HenkSwardt commented on #733
Thank you for logging the issue, I would suggest we go with "ADD ADDRESS", as New Address might conflict with you creating a new address.

[2018-01-22 13:09] anandsinghparihar commented on #737
PR: https://github.com/particl/particl-desktop/pull/738

[2018-01-22 13:09] #737 closed

[2018-01-22 13:49] EagleEye25 opened #739 "Cant "Create" / "Restore" wallet"
# Describe bug/issue
unable to create or restore wallet, get "work queue depth exceeded error.
# How to reproduce
run through create or restore wallet steps
# More information
![test](https://user-images.githubusercontent.com/28861857/35223915-d91dcff6-ff8b-11e7-82ad-9dfaeb114519.gif)
console log information:
https://zerobin.net/?26a1f8acbf7b83d2#rFdrkbbcaSektS/CdxWYUMJ9T8xRkAdZhDzhUlTUR0I=
- Oper

[2018-01-22 15:46] vikas-cis commented on #710
#740

[2018-01-22 15:46] #710 closed

[2018-01-22 16:42] kewde commented on #739
Is an error returned by the daemon, I suspect when there are too many RPC calls going on.
What branch were you on?

[2018-01-22 16:44] kewde commented on #727
Need to update electron to 1.8.x for this to go away

[2018-01-22 17:04] anandsinghparihar opened #741 "create a service for external HTTP calls"
- [x] Creates Version update service.

[2018-01-22 17:37] kewde opened #743 "Refactor state & rpc-state"
Multiple issues described here.

### turn RpcStateClass into RpcStateService
OnDestroy life cycle hooks only work in angular _services_
https://github.com/particl/particl-desktop/blob/a149e579cf512ba1d0bf50ff8cca3b6e6b406f15/src/app/core/rpc/rpc-state/rpc-state.class.ts#L5

### shareReplay in state
Do we really need to shareReplay? Wouldn't this cause it to cache forever?
https://github.com/partic

[2018-01-22 18:10] kewde opened #744 "Small refactor notification"
The runNotification shouldn't really be in ipc.service.ts
https://github.com/particl/particl-desktop/blob/a149e579cf512ba1d0bf50ff8cca3b6e6b406f15/src/app/core/ipc/ipc.service.ts#L74-L81

It should use the **ipc.runCommand** and the channel shouldn't be named something like '**notification**' not 'rx-ipc-..'.

This should be in it's own file, not in main.js
https://github.com/particl/particl-deskt

[2018-01-22 19:41] rynomster commented on #743
We use shareReplay so that it can get the history. Get doesn't use observables so it doesn't need take.
The correct way would be to unsubscribe where it is no longer needed.

[2018-01-23 07:19] EagleEye25 commented on #739
was on Dev, tested on 1.1.0-RC2 now as well, and it didnt want to create or restore either:
updated console information with spy: https://zerobin.net/?6c7e5f2d8d590327#yngeOoIct4G9jP5q6Hvni6N/k64G8AVNyTFyI9g0FME=

[2018-01-23 07:39] HenkSwardt commented on #730
Good day @bb2k16 ,

We are planning a complete refactor of modals in the near future that will address this issue as part of it.

Closing this issue in favor of that.

[2018-01-23 07:39] #730 closed

[2018-01-23 07:51] HenkSwardt commented on #687
@vikas-cis please can I ask that you keep this task updated as you go through the process.

Thank you

[2018-01-23 07:57] EagleEye25 commented on #704
i cant seem to reproduce this issue @pciavald @HenkSwardt :
![testing](https://user-images.githubusercontent.com/28861857/35264017-bd147c9a-0023-11e8-9fba-afa1a21d01dc.gif)
is there possibly anything else that i can do, to reproduce it?

[2018-01-23 08:13] EagleEye25 commented on #686
i cant get past enter recovery phase, but till this point i dont get the `unknown method` issue, all the other flash notifications show what it should, also looked in the code on create wallet, and all the messages are hard coded, and dont rely on any variables or methods for information. @pciavald @HenkSwardt

[2018-01-23 08:45] vikas-cis commented on #687
Hey @HenkSwardt, yeah I have discussed with @dasource over that and I guess he also signup for comodo (https://www.comodo.com/) for free trail, I got email from them yesterday and they asking for too many info which I can't able to provide so some one who is incharge of everything can do there process (may be @dasource) Below are the information what they asked for

Dear Vikas,

Thank you for your

[2018-01-23 09:31] EagleEye25 commented on #739
new console information with -debug:
https://zerobin.net/?9551753850b2b906#kLO2P6Yj19mrCL3Du2SgUS0Z1+E3tFsyhIXIun85lNg=

[2018-01-23 09:35] EagleEye25 commented on #739
debug log:
[debug.zip](https://github.com/particl/particl-desktop/files/1655297/debug.zip)

[2018-01-23 09:37] vikas-cis commented on #744
@kewde why not in ipc.service.ts? and yes we can remain the listener

[2018-01-23 09:57] pciavald commented on #741
@anandsinghparihar what do you mean `Version update service` ?

[2018-01-23 09:58] #729 closed

[2018-01-23 09:58] pciavald commented on #729
thanks @bb2k16 should be fixed in #732

[2018-01-23 10:00] pciavald commented on #704
you need to start the daemon before the GUI to reproduce the issue

[2018-01-23 10:24] anandsinghparihar commented on #741
@pciavald
in current code, I was directly called HTTP from a component which should be called using separate service.
https://github.com/particl/particl-desktop/blob/dev/src/app/core-ui/main/release-notification/release-notification.component.ts#L26-L29

[2018-01-23 11:17] vikas-cis commented on #684
@allienworks @gerlofvanek can you please tell me which image  we can use for background ?

[2018-01-23 11:18] vikas-cis commented on #733
#747

[2018-01-23 11:18] pciavald opened #748 "check and clean unused dependencies"
I tried to upgrade electron to 1.8.2-beta.4 and had this output. Also it seems we have a few unused / unspecified dependencies that need cleaning / adjusting.

[code]

[2018-01-23 11:32] #733 closed

[2018-01-23 12:02] kewde commented on #743
re: get(), I see now :+1:

I can't think of any situation in the codebase where we're actively using the history tho?

[2018-01-23 12:03] kewde commented on #744
@vikas-cis ipc.service.ts is for _core_ ipc functionality only.
The notifications run _over_ the _core ipc functionality_ and they aren't part of it.

[2018-01-23 12:24] vikas-cis commented on #744
@kewde  so you mean it will move down to notification service or something ?

[2018-01-23 12:34] anandsinghparihar commented on #733
PR: https://github.com/particl/particl-desktop/pull/747

[2018-01-23 14:31] pciavald opened #751 "crash when downloading daemon timeouts"
## reproduce
- remove data directory (`/home/user/.config/Particl Desktop/`)
- disconnect internet
- launch wallet
- connection fails
- 20 js popups + crash

[2018-01-23 16:00] anandsinghparihar commented on #734
PR" https://github.com/particl/particl-desktop/pull/752

[2018-01-23 16:50] pciavald opened #753 "broken layout"
observed on mac build

![screen shot 2018-01-23 at 2 19 53 pm](https://user-images.githubusercontent.com/3384097/35288730-cf16e3be-0065-11e8-9f3c-bda93ccf3301.png)
![screen shot 2018-01-23 at 5 47 09 pm](https://user-images.githubusercontent.com/3384097/35288751-d9c84384-0065-11e8-919a-e2a651a30c1d.png)
![screen shot 2018-01-23 at 5 47 58 pm](https://user-images.githubusercontent.com/3384097/35288

[2018-01-23 17:11] vikas-cis commented on #753
@pciavald at least you have also got this issue 👍

[2018-01-23 22:03] kewde commented on #305
Fixed by #731

[2018-01-23 22:04] #305 closed

[2018-01-24 07:18] HenkSwardt commented on #753
This was reported to be broken on Linux build as well please see #694

[2018-01-24 07:19] #623 closed

[2018-01-24 07:21] HenkSwardt commented on #739
This issue has been duplicated, also see #623

[2018-01-24 07:22] HenkSwardt commented on #623
Closed in favor of duplicate #739

[2018-01-24 07:34] HenkSwardt commented on #741
@anandsinghparihar @kewde can we move this specific issue to #743 to ensure we tackle all state related issues as one task?

[2018-01-24 08:06] HenkSwardt commented on #727
I see we have a task logged to upgrade to 1.8 (#748) , but it is earmarked for 1.2 release. Does this mean we will not be able to get to this issue before then?

[2018-01-24 08:48] HenkSwardt commented on #739
I have tested this using the RC3 release on 2 Windows 10 (64 bit) systems, and was able to create wallets on both occasions.

[2018-01-24 10:26] EagleEye25 commented on #718
@pciavald @HenkSwardt https://github.com/particl/particl-desktop/pull/754

[2018-01-24 10:31] anandsinghparihar commented on #739
I just install 1.1.0 release on windows 10 and I can see that issue on my machine, which reported by @EagleEye25

[2018-01-24 11:32] vikas-cis opened #755 "Balance Transfer : Can't able to send All Blind Balance to Public (Send All)"
![screen shot 2018-01-24 at 4 56 24 pm](https://user-images.githubusercontent.com/20254889/35329945-a37f381a-0127-11e8-8e87-993d4fd442a9.png)

How to reproduce
1) Go to Send Page
2)Do Blind to Public

I got the error as in the above screenshot

Thanks

[2018-01-24 11:32] vikas-cis commented on #755
Tested in RC3- 1.1.0

[2018-01-24 11:51] EagleEye25 commented on #751
is this the desired reproduced output:
![daemon error](https://user-images.githubusercontent.com/28861857/35330802-7e60fec0-010d-11e8-8b4a-d745499fc1ba.gif)
i only got one js popup

[2018-01-24 12:20] fellz opened #756 "Crash on startup ( could not connect to daemon)"
# Describe bug/issue
Crash and js pop with error
added screen

![screenshot_2](https://user-images.githubusercontent.com/96966/35331902-115025d8-011a-11e8-8188-176b7054df5f.jpg)

# How to reproduce
Just start the app "Particl Wallet"

# More information
- Operating system and version: Windows 10
- Client version: 1.0.0

[2018-01-24 17:10] kewde commented on #756
@fellz

Please execute the executable from a command line, that should output more verbosely to the console, that way we can see what's going on, thanks!

@pciavald @dasource Am I mistaken or is this the downloading bug?

[2018-01-24 17:13] kewde opened #759 "Properly handle error of failed download"
[code]

[2018-01-24 17:46] #718 closed

[2018-01-24 17:48] #759 closed

[2018-01-24 17:49] kewde commented on #751
[code]

^just for the record, that's the output log for this bug.

[2018-01-24 17:51] kewde commented on #751
Need to try { } catch { } it..

[2018-01-24 17:52] kewde commented on #727
@HenkSwardt

1.2

[2018-01-24 19:42] kewde commented on #756
Note to devs:
potentially caused by timeout of RPC, 15 seconds is the default timeout.

[2018-01-24 20:20] fellz commented on #756
ok here is the log from console

C:\Program Files\Particl Wallet>
[23:16:04.733] [debug] Daemon not running. It will be started bt the daemon manager
Initializing...
Resolving path to client binary ...
Platform: win
Client binary path: C:\Users\Dave\AppData\Roaming\Particl Wallet\particld\unpacked\particld.exe
Checking for new client binaries config from: https://raw.githubusercontent.com/particl/

[2018-01-25 03:16] thecarterzim commented on #753
Was coming to add this bug, but see it already exists! Thanks.

[2018-01-25 08:19] HenkSwardt commented on #753
This has been logged as a duplicate. Closing issue in favor of #694

[2018-01-25 08:21] HenkSwardt commented on #694
Please note, as per #753, this issue also affects the Mac build

[2018-01-25 08:25] HenkSwardt commented on #694
Relating Development task: #758

[2018-01-25 08:27] HenkSwardt commented on #755
I also tested this issue on RC3 Release and found the same.

[2018-01-25 08:40] HenkSwardt commented on #751
Please confirm it this could relate to #756

[2018-01-25 09:37] HenkSwardt commented on #755
This issue has been resolved in Core and will be fixed in modal with next Core Release.

Closing issue.

[2018-01-25 09:37] #755 closed

[2018-01-25 10:21] vikas-cis commented on #728
@HenkSwardt I did not got this again.

[2018-01-25 10:54] allienworks commented on #748
Yes please, Electron 1.8.2 seems to fix our crazy modal misalignment issue: https://github.com/particl/particl-desktop/pull/758#issuecomment-360430998

[2018-01-25 12:16] HenkSwardt commented on #686
@EagleEye25 will try this again using the 1.1.0 release branch as changes made to it after RC3 should allow him to create the wallet fully now.

[2018-01-25 16:06] anandsinghparihar commented on #751
PR: https://github.com/particl/particl-desktop/pull/763

[2018-01-26 00:43] kewde commented on #751
@anandsinghparihar we only close issue if the PR has been merged.

[2018-01-26 20:32] kewde commented on #744
@vikas-cis I've done it myself in #764

[2018-01-26 20:35] kewde commented on #743
@vikas-cis if you have done any changes on this issue, please push them.
I will do this.

[2018-01-26 20:50] gerlofvanek commented on #684
<img alt="" src="https://i.imgur.com/dzJFAq2.png">

[2018-01-27 12:42] pciavald opened #765 "overview transaction order sometimes not right"
![screenshot_20180127_134009](https://user-images.githubusercontent.com/3384097/35472026-dc630c46-0367-11e8-921e-0755567cf7c3.png)

[2018-01-27 12:45] pciavald opened #766 "scroll behaviour"
In the overview tab, scrolling makes the top ribbon disappear.

We should scroll transactions only so when at the bottom of the page, wallet locking status and balances are still visible.

[2018-01-28 01:02] ThomasPerche commented on #756
Same issue for me. Just trying both version (zip and exe) 1.0.0 on win 10 64 bits

[2018-01-28 05:11] savagejordan23 opened #767 "Daemon and java failures, cannot create an address or restore an existing wallet"
Trash, needs to be fixed, only Particl Core works somewhat

# Describe bug/issue

..

# How to reproduce

Describe the steps needed to recreate the bug/issue:

1. ..
2. ..

# More information

- Operating system and version:
- Client version:

[2018-01-28 10:25] kewde commented on #756
@fellz @ThomasPerche

Could you please upload the `C:\Users\USER\AppData\Roaming\.particl\debug.log` on pastebin or https://transfer.sh/ ?
Either the daemon isn't starting or the RPC is timing out.

We've already updated the timeout to 30 seconds, might be a timing issue.
I will improve the error handling code there, it dialog you're seeing is an error we've created but isn't properly handled.

[2018-01-28 10:32] kewde commented on #767
A _lot_ of fixes are in our upcoming release, already fixed, just not released.
Run branch `1.1.0`.

[2018-01-28 10:32] #767 closed

[2018-01-28 10:40] #704 closed

[2018-01-28 10:41] kewde commented on #704
Is this Mac-only? Dev works fine on Linux..

[2018-01-28 10:43] kewde commented on #739
RPC timeout was increased for calls that involve importing the wallet.
Should be fixed.

[2018-01-28 10:43] #739 closed

[2018-01-28 12:07] fellz commented on #756
the log is huge actually and i can expose some sensitive info i guess, so can i pass it to you by email @kewde

[2018-01-28 13:40] kewde commented on #756
@fellz

Ofcourse, kewde@particl.io

[2018-01-28 16:20] pciavald commented on #743
@kewde do you want to integrate #741 here as well ? @HenkSwardt

[2018-01-28 16:24] pciavald commented on #756
This is particl-desktop 1.1.0 with particld 0.15.0.4.0
This bug has probably already been fixed on the current dev branch.

[2018-01-29 08:34] HenkSwardt commented on #728
@kewde and @pciavald we are not able to reproduce this issue at all, Please confirm if this can be closed for now?

[2018-01-29 08:35] HenkSwardt commented on #686
@kewde  and @pciavald  we are not able to reproduce this issue at all, Please confirm if this can be closed for now?

[2018-01-29 09:23] vikas-cis commented on #684
@gerlofvanek Is the image is added ?

Thanks

[2018-01-29 10:01] kewde commented on #728
Not reproducible, closing for now.

[2018-01-29 10:01] #728 closed

[2018-01-29 10:02] kewde commented on #686
Closing it for now.

[2018-01-29 10:02] #686 closed

[2018-01-29 10:03] ThomasPerche commented on #756
Hello,

It seems that the bug is resolved. Actually I succeed to launch the wallet. And I have succeed to connect too.

Thanks for the fix, the timeout increase seems to work perfectly

[2018-01-29 10:58] vikas-cis commented on #684
@pciavald @gerlofvanek  Please have a look the screenshot this how it looks now after adding the background image in mac
![screen shot 2018-01-29 at 4 27 45 pm](https://user-images.githubusercontent.com/20254889/35507051-7ceb2fea-0511-11e8-8366-914fa3431f36.png)

[2018-01-29 13:46] pciavald commented on #519
@allienworks

[2018-01-29 14:11] #684 closed

[2018-01-29 14:53] #519 closed

[2018-01-29 15:32] kewde commented on #666
@pciavald 1.1.1?

[2018-01-29 15:44] pciavald commented on #666
@kewde yeah let's get rid of this before it breaks ? or 1.1.2 ?

[2018-01-29 15:44] pciavald commented on #666
oh yes my bad

[2018-01-29 17:28] #734 closed

[2018-01-30 13:17] vikas-cis commented on #765
@pciavald I have got this issue only at once when my wallet was unencrypted and I am doing coldstaking. After that I never able to reproduce it.I have tested stuff in release/1.1.0
![screen shot 2018-01-30 at 6 41 44 pm](https://user-images.githubusercontent.com/20254889/35568169-f3b47f1e-05ed-11e8-9144-12c13a2a1e8b.png)

[2018-01-30 15:00] anandsinghparihar commented on #694
@allienworks  I've test `release/1.1.0` its working fine in Ubuntu (I tested it on 2 different machines) I cant see that modal issue now in Ubuntu. we can close this issue

[2018-01-30 15:12] anandsinghparihar commented on #694
this issue is no more in **Ubuntu** so I am going to close it but this may be still in **MAC** which we considered in `modal refactoring task`.

[2018-01-30 15:12] #694 closed

[2018-01-30 15:59] anandsinghparihar commented on #765
@pciavald I am unable to reproduce this issue

[2018-01-30 18:08] allienworks commented on #765
I also can't reproduce. When did this happen to you @pciavald?

[2018-01-30 18:23] EagleEye25 commented on #765
^ same here can't reproduce

[2018-01-31 06:13] abunsen opened #775 "Only one wallet allowed to be created?"
This is the issue template. Everything is optional, but the more you supply, the better.
Please use short decriptive titles for issues.

# Describe bug/issue
There is a 1 wallet per app limit. I'd like to be able to create multiple wallets - is this in the queue at all?

# More information

- Operating system and version: Mac
- Client version: 1.0.1

[2018-01-31 06:44] kapsr commented on #775
https://github.com/particl/particl-desktop/pull/441

[2018-01-31 07:01] HenkSwardt commented on #775
Hi @abunsen

Thank you for the inquiry, yes we indeed have a multi wallet setup in the pipeline and the aim is to deliver this with the next "Feature" release. As per @kapsr please see #441 (Multiwallet - 441).

Closing Issue.

[2018-01-31 07:01] #775 closed

[2018-01-31 09:26] HenkSwardt commented on #765
@pciavald , please assist with the process forward on this matter.

Thank you

[2018-01-31 10:43] vikas-cis opened #776 "Send All (1e-8) from Blind to Public gives error"
Please find the attached screenshot
![screen shot 2018-01-31 at 4 07 18 pm](https://user-images.githubusercontent.com/20254889/35618652-996e9dd2-06a1-11e8-9fb5-9f630cda911a.png)
![screen shot 2018-01-31 at 4 07 31 pm](https://user-images.githubusercontent.com/20254889/35618653-9999dc54-06a1-11e8-9caa-9fff4e305bb7.png)
![screen shot 2018-01-31 at 4 07 48 pm](https://user-images.githubusercontent.co

[2018-02-01 13:43] #776 closed

[2018-02-01 16:19] pciavald opened #781 "coldstaking widget issues"
## 100% shows 'activating' instead of 'activated'
- [x] ![screenshot_20180201_170146](https://user-images.githubusercontent.com/3384097/35688614-da0c5944-0771-11e8-89f0-3de1c336ba4d.png)

## <100% shows activated
- [x] ![screenshot_20180201_170612](https://user-images.githubusercontent.com/3384097/35688793-425a2328-0772-11e8-82ac-bd5b5aacf2fa.png)

## disable button is shown even though there is n

[2018-02-01 16:19] pciavald commented on #781
#760

[2018-02-02 09:01] HenkSwardt commented on #751
Can this issue please be merged?

[2018-02-02 09:48] HenkSwardt commented on #628
We have tested this in Dev and seems that a change made to the back end has resolved the issue.

![image](https://user-images.githubusercontent.com/28799964/35726814-d8424978-080e-11e8-9549-3cc9a4bafab0.png)

Please can we just add a disable to Keyboard enter as well as the enter button while the request is being handled. This will be to prevent multiple submits on processes that might need some t

[2018-02-02 09:53] vikas-cis commented on #628
@HenkSwardt sure :)

[2018-02-02 15:22] #751 closed

[2018-02-02 15:23] #756 closed

[2018-02-02 23:26] pciavald opened #785 "invert lock status icon colors"
We inverted the colors of the lock status icon, but after asking around and core devs advice we should revert to red = unlocked / unencrypted ( = problem), green = locked / encrypted.

@HenkSwardt @allienworks

[2018-02-02 23:27] pciavald commented on #781
![peek 2018-02-03 00-27](https://user-images.githubusercontent.com/3384097/35759294-0eaa98f2-0879-11e8-94ee-5b6b7afd7744.gif)

[2018-02-02 23:36] pciavald opened #786 "add help message for disabled anon"
in the send page, please add an help message to explain what is Anon and why it is disabled while it's not enabled when hovering

@HenkSwardt @allienworks

[2018-02-03 00:36] pciavald commented on #721
done

[2018-02-03 00:36] #721 closed

[2018-02-03 00:36] pciavald commented on #678
what for ?

[2018-02-03 00:40] pciavald commented on #638
@allienworks there are already 2 types of narrations :
- private narrations stored locally
- public narrations stored in the tx
public narrations are already implemented and I think the memos you want to do are redundant with the private narrations we already have in core but which are not implemented in GUI. see #636

[2018-02-03 01:00] pciavald commented on #581
Info messages implemented.
We still need to implement some behaviour when connection drops.

[2018-02-03 01:01] pciavald commented on #513
@HenkSwardt @dasource are we sure we need that behaviour or are we good with a simple zap / disable ?

[2018-02-03 01:02] pciavald commented on #325
I don't think this is needed at the moment.

[2018-02-03 01:02] #325 closed

[2018-02-03 01:33] kewde commented on #785
keep open after #791

I did a quick fix by using the old PNGs with the right colours.
We should delete them afterwards.

[2018-02-03 02:08] #785 closed

[2018-02-03 02:49] pciavald opened #794 "GUI not synced"
i've made a transaction, closed the wallet, opened it 2 hours later. I seen the daemon sync in the terminal, block height is at the latest block. However the transaction still shows 0 confirmations.
After 5min+ the confirmations count finally updated.
![screenshot_20180203_034416](https://user-images.githubusercontent.com/3384097/35762325-2c8db46e-0895-11e8-9256-d0b411d5215a.png)

[2018-02-03 03:05] pciavald opened #795 "build process fails"
after 9a58c623c, sha256sum is unavailable on mac & windows by default, maybe we should add it to the dev deps ?

also it currently prepends `packages/`, it should cd into the directory to hash the files

@HenkSwardt

[2018-02-03 11:49] #795 closed

[2018-02-03 11:52] #786 closed

[2018-02-03 14:32] anandsinghparihar commented on #678
- ts config rules for define some style guide & rules for code.
- `.editorconfig` for IDE, for code indentation

[2018-02-04 19:56] kewde commented on #765
Fixed.

[2018-02-04 19:56] #765 closed

[2018-02-05 11:05] anandsinghparihar commented on #592
@pciavald waiting for API change !!

[2018-02-05 11:07] anandsinghparihar commented on #636
@pciavald let me know when new daemon release comes with narration text then I'll check that.

[2018-02-05 11:12] anandsinghparihar commented on #741
@kewde could you please joint this  refactoring task `RPC state refactoring`

[2018-02-05 11:48] kewde commented on #743
#797

[2018-02-05 12:56] allienworks commented on #753
@pciavald what's the current state of this? Are you having still the same problems as with the screens above? As mentioned in https://github.com/particl/particl-desktop/pull/758#issuecomment-360430998 the Electron 1.8.2 should fix this, so all we can do is wait for the release.

[2018-02-05 13:21] vikas-cis commented on #603
@HenkSwardt  I have tested Particl Desktop v1.1.0-RC4 latest release and try the following steps and couldn't able to reproduce the issue

1)After installation I ran the shortcut directly from desktop its working.
2) I also tested via terminal as well

[2018-02-05 13:25] anandsinghparihar commented on #603
fixed in new release : https://github.com/particl/particl-desktop/releases

[2018-02-05 13:25] #603 closed

[2018-02-05 13:39] HenkSwardt commented on #629
Look into this after #769 has been merged

[2018-02-05 13:40] HenkSwardt commented on #666
Look int this after #769 has been completed.

[2018-02-05 20:04] pciavald opened #798 "syncing indicators too slow"
When starting the wallet after a week, blocks are being downloaded but it's not visible in the GUI. Syncing more that 5 blocks should trigger the sidebar loader, and current syncing modal pops too late when the amount of blocks to sync is bigger (~30s after starting sync)

[2018-02-06 01:22] kewde commented on #150
Hmm, it should generate a desktop file tho.

https://github.com/electron-userland/electron-builder/blob/master/docs/configuration/linux.md

https://github.com/particl/particl-desktop/blob/54ce6e11f82585224768aa799ef4f8038d988002/package.json#L120-L130

Need to check our keys but it seems to me that they are fine.
[code]

[2018-02-06 13:00] kewde opened #800 "Replace angular2-qrcode"
It uses some native dependencies for some odd reason 'canvas', it's an optional dependency but it fails to build and has caused issue with electron-builder builds in the past, need to get rid of it.
Replace it with something more robust.

[2018-02-07 09:41] vikas-cis commented on #800
@kewde
Can we try the below and use one of them if it make sense ?

https://www.npmjs.com/package/ng2-qrcode
https://www.npmjs.com/package/angular2-qrcode-generator

Thanks

[2018-02-07 12:01] #631 closed

[2018-02-07 12:03] pciavald commented on #150
@HenkSwardt can we assign someone to test this ? See if its still a bug

[2018-02-07 12:10] kewde commented on #800
https://www.npmjs.com/package/ng2-qrcode

That one looks fine to me.
Make sure to remove all the existing angular2-qrcode stuff, import the QrCodeModule in the CoreUiModule.

[2018-02-07 12:13] vikas-cis commented on #800
@kewde thanks will check and do a pr

[2018-02-07 12:15] pciavald commented on #748
@kewde can you check `npm-check`'s output (need to be installed) ? It shows a lot of "unused" dependencies that we use, and there may be unused dependencies in the list.
Would there be a way to set things up so that dependencies we actually use do not show up in the unused dependencies ? It would make maintaining easier.
@HenkSwardt

[2018-02-07 17:01] vikas-cis commented on #800
@kewde I think we cannot use that
https://github.com/PragmaticClub/ng2-qrcode/issues/12

Thanks

[2018-02-07 19:24] kewde commented on #794
Block update throttling reduced to 2 seconds instead of 30 (should do the trick).

[2018-02-07 22:23] kewde commented on #800
Yes.

[2018-02-08 11:32] anandsinghparihar commented on #150
I can't see shortcut & if I open wallet using command line App icon is also not display!
![icon also not display](https://user-images.githubusercontent.com/17725557/35970820-c26dbe7e-0cf1-11e8-88a1-87ae3d35ab17.png)

[2018-02-08 15:49] #800 closed

[2018-02-09 01:24] kewde opened #810 "Switch Notification library"
Swap out the Electron notify application out for another one.
We'll have to check what's available..

[2018-02-09 10:27] vikas-cis commented on #810
@kewde I think we can try this below

https://www.npmjs.com/package/node-notifier

[2018-02-09 15:09] anandsinghparihar opened #811 "Start writing unit test cases of All code"
We need to write test cases for entire code, maybe Unit-test requires code refactoring, so that would be also considered with this task.

[2018-02-09 15:15] anandsinghparihar opened #812 "Improve code Documentation coverage"
Right now **Documentation coverage is Poor** so we need to write documentation for the code, right now overall document coverage is 5%-6%.

[2018-02-10 10:20] pciavald commented on #781
@claudiocabral

[2018-02-10 11:23] pciavald commented on #781
actually `disable` should be shown at any time, so that even if you are at 0% cold staking activation you can still disable it (just removing pkey)

[2018-02-10 11:33] pciavald opened #814 "debug console history fixes"
- when pressing enter, the input field should stay focused
- when pressing up key to get last command, input bar should be at the end of the command instead of beginning
- pressing the up key when input field is disabled should enable input

[2018-02-10 16:37] claudiocabral opened #817 "in OS X, Command + V pastes clipboard contents twice"
Whenever input is pasted in some forms with `command + V` the cliboard contents are pasted twice.
PR #740 fixed the opposite problem, but some widgets still react to the default event causing
the double pasting.

- Operating system and version: OS X 10.11.6 El Capitain Darwin Kernel Version 15.6.0

[2018-02-10 16:42] kewde commented on #817
@claudiocabral thanks!
Always great when a bug report comes with a fix.

[2018-02-11 15:36] kewde commented on #817
Also ported to 1.1.0

[2018-02-11 15:36] #817 closed

[2018-02-11 15:38] kewde commented on #814
Console history is not part of 1.1.0 yet so we can tag the fix for 1.1.1

[2018-02-12 05:40] HenkSwardt commented on #628
Issue has been resolved and merged

[2018-02-12 05:40] #628 closed

[2018-02-12 05:50] HenkSwardt commented on #748
The upgrade to Electron 1.8.2 has resulted in more issues and has since been removed. Additional platforms has been tested. Please see the following tasks for development history.

#804
#805
#806
#807
#813

[2018-02-12 10:30] HenkSwardt commented on #753
The upgrade to 1.8.2 did not resolve this issue as expected. Further investigation has been done and it seems that a change to muon will help with resolving this.

Please see - https://github.com/particl/particl-desktop/pull/807

This needs to be reviewed and tested.

[2018-02-12 10:56] kewde commented on #814
Thanks to @claudiocabral !

[2018-02-12 10:56] #814 closed

[2018-02-12 16:04] pciavald commented on #753
fixed in #807

[2018-02-12 23:58] #743 closed

[2018-02-12 23:59] #744 closed

[2018-02-13 08:51] kewde commented on #637
API fully supports estimating fees.

[2018-02-13 15:22] vomm commented on #753
I´ve got few times a little displacement....like one time in 10-20 clicks on Staking node. Windows 10 - 64bit

![rc4_2](https://user-images.githubusercontent.com/28147511/36157437-1319fac2-10da-11e8-8d12-0aab22390185.jpg)

[2018-02-13 15:24] imybb commented on #753
observed on Windows RC4 Sandboxed version

![windows_rc4_out_of_alignment](https://user-images.githubusercontent.com/30150617/36157527-e3e2e4ec-10d1-11e8-976b-c7b93ec10c80.png)

[2018-02-13 18:26] vomm commented on #753
and another one.. :)
![rc4_4](https://user-images.githubusercontent.com/28147511/36166740-c4ca41fa-10f3-11e8-8df0-1ef6f193421e.jpg)

[2018-02-13 18:52] pciavald commented on #753
yeah @vomm definitely the electron bug. RC5 will be packaged with muon instead for mac & win. Reopen if RC5 doesn't fix

[2018-02-13 18:52] #753 closed

[2018-02-13 18:53] pciavald commented on #753
@imybb your issue is a different one. @allienworks can you open an issue ?

[2018-02-13 20:36] allienworks opened #821 "TX history cropped (Win)"
_source: https://github.com/particl/particl-desktop/issues/753#issuecomment-365299542_

- Windows bug
- RC4 Sandboxed version

![](https://user-images.githubusercontent.com/30150617/36157527-e3e2e4ec-10d1-11e8-976b-c7b93ec10c80.png)

[2018-02-13 20:37] allienworks commented on #821
I investigated this today, thought it was bad setup of flex layout.. but unfortunately not (there's a plenty of space for TX amount available). I will look into it on my Win machine later.

[2018-02-13 20:38] allienworks commented on #753
@pciavald yep ^

[2018-02-13 20:49] kewde commented on #821
@allienworks for what it's worth, test it on sandboxed-RC5, nothing changed on the Angular side of things.
Note: check how flexbox deals with resizing maybe?

[2018-02-13 23:23] allienworks commented on #821
@kewde nah, `min-width` of the "cell" is defined. But I vaguely remember that we had some similiar issue already earlier.. I'll look into it later.

[2018-02-14 11:02] HenkSwardt opened #823 "Transaction Fee not added but subtracted from Net total"
Testing 1.1.0 RC 5 release.

 When sending Part, the transaction fee gets subtracted instead of added to the net total.

![image](https://user-images.githubusercontent.com/28799964/36201004-30e320e4-1187-11e8-821b-2fb7fa9cd2be.png)

- Operating system and version: Windows 10 (64)
- Client version: 1.1.0 Sandbox RC-5 - Muon